/**
 * Tutorial + Editor bits
 */
.finder {
  border: 0.5px solid #000;
  filter: invert(1);
  left: 20px;
  position: absolute;
  top: 17%;
  transform: scale(2.16);
  transform-origin: 0 0;
}

#editor-window-help {
  display: none;
  left: 312px;
  top: 17%;
}

/* safari desktop: zoom hacks */
body.is_safari:not(.is-mobile).edit-mode #editor-window,
body.is_safari:not(.is-mobile).edit-mode #editor-window-help {
  zoom: 2;
  /* note: half of "usual" value */
  transform: scale3d(1.13, 1.13, 1);
  transform-origin: 0 0;
}

body.is_safari:not(.is-mobile).edit-mode #editor-window-help {
  /* safari scale shenanigans: roughly half */
  left: 160px;
}

body.is_safari:not(.is-mobile).edit-mode #editor-window {
  left: 10px;
}

body.edit-mode .sprite .zone-flag {
  border-radius: 2px;
  left: 1px;
  top: 1px;
}

.finder .title-bar {
  background: #f3f3f3;
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  height: 7px;
  position: relative;
  text-align: center;
}

.finder .title-bar-label {
  background: #f3f3f3;
  color: #000;
  display: inline-block;
  font-family: FA Sysfont C, courier, sans-serif;
  font-size: 6.5px;
  font-weight: 400;
  left: 50%;
  line-height: 123%;
  margin-top: -0.5px;
  padding: 0 3px;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translate(-50%, 0);
  white-space: nowrap;
}

.finder .title-bar-stripes {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAECAAAAAAl7gk2AAAAE0lEQVR42mPcz0AAMDpQQQVBWwCpNAIDi0boDwAAAABJRU5ErkJggg==)
    0 0/8.25px 1.33px;
  border-color: #f3f3f3;
  border-style: solid;
  border-width: 0.5px 0.25px;
  box-sizing: border-box;
  height: 100%;
  image-rendering: optimizeQuality;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.finder .title-bar-label,
.finder .title-bar-stripes {
  pointer-events: none;
}

.finder.active {
  outline: #666 solid 0.5px;
}

.finder .body {
  background: hsla(0, 0%, 95%, 0.75);
  border-top: 0.5px solid #000;
  color: #000;
  font-family: Geneva, verdana, arial, sans-serif;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 23em;
}

.finder .body,
.finder .body ul.row li {
  /* tutorial window */
  font-size: 5px;
}

.finder .body .grid p {
  margin-bottom: 0.75em;
}

.finder .body ul.row {
  display: block;
  font-size: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.finder .body ul.row li {
  border: 0.25px solid #999;
  box-sizing: border-box;
  display: inline-block;
  padding: 1px;
  text-align: center;
  width: 20%;
}

.finder .body ul.row + ul.row li {
  border-top: none;
}

.finder .body ul.row li:not(:last-of-type) {
  border-right: none;
}

#tutorial-window {
  display: none;
  left: 50%;
  top: 50%;
  /* scale up a bit for almost everyone. */
  transform: scale3d(1.25, 1.25, 1) translate3d(-50%, -50%, 0);
  /* don't interfere with touch / click etc. */
  pointer-events: none;
}

/* not iPhone, though - on portrait, scaling up will overlap controls. */
body.is_iphone #tutorial-window {
  transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
}

#tutorial-window.finder .body {
  /* lighten background, since helicopter underneath for now. */
  /* note that colors are inverted for this window, heh. */
  background: rgba(255, 255, 255, 0.15);
}

#tutorial-window.finder .title-bar-stripes {
  background-size: 16.5px 3px;
}

#tutorial-window.finder .title-bar {
  height: calc(7px * var(--gs));
  border-width: calc(1px * var(--gs)) 0;
}

#tutorial-window.finder h3 {
  font-size: calc(7px * var(--gs));
}

#tutorial-window.finder .title-bar-label {
  font-size: calc(6.5px * var(--gs));
  margin-top: calc(-0.5px * var(--gs));
  padding: 0 calc(3px * var(--gs));
}

#tutorial-window.finder .body {
  font-size: calc(5px * var(--gs));
}

#tutorial-window.finder .body img {
  /* images are safe to scale via zoom - in Safari, at least. */
  zoom: var(--gs);
}

body.tutorial-mode #tutorial-window {
  display: block;
  opacity: 0;
  transition: opacity 1s ease-in;
}

body.tutorial-mode #tutorial-window.active {
  opacity: 1;
}

body.game-paused #tutorial-window {
  display: none !important;
}

#tutorial-window .title-bar {
  image-rendering: smooth;
  image-rendering: -webkit-optimize-contrast;
}

#tutorial-window .body {
  min-width: 25em;
}

#tutorial-window .body img {
  filter: invert(1);
  vertical-align: middle;
}

#tutorial-window .body h3 img {
  vertical-align: top;
}

#tutorial-window .body p {
  line-height: 1.33em;
  margin-left: 0;
  margin-right: 0;
}

#tutorial-window .body p:not(:last-of-type) {
  margin-bottom: 0.55em;
}

#tutorial-window .body .mobile-touch-example {
  display: inline-block;
  padding: calc(0.5px * var(--gs));
  box-sizing: content-box;
  border-radius: 100%;
  border: calc(0.5px * var(--gs)) solid #666;
  vertical-align: text-top;
  line-height: calc(4.74px * var(--gs));
  --size: calc(5px * var(--gs));
  width: var(--size);
  height: var(--size);
  text-align: center;
}

/* special case: smaller headers in tutorial, because there are two. */
body.tutorial-mode #battle-over-letter .letter-content h1 {
  font-size: calc(13px * var(--gs));
}

body.tutorial-mode #battle-over-letter .letter-content h1 ~ h1 {
  /* secondary header */
  font-size: calc(12px * var(--gs));
}

body.tutorial-mode #game-tips .tips-container {
  color: #999;
}

body.tutorial-mode #game-tips .tips-container b {
  color: #fff;
}

/* ignore events on sub/transform sprites, and explosions */
body.edit-mode
  #battlefield
  .sprite:not(.sub-sprite):not(.transform-sprite):not(.ephemeral-explosion):not(
    .gunfire
  ):not(.helicopter):not(.smoke) {
  pointer-events: unset;
}

/* ignore events on certain "non-moveable" sprites */
body.edit-mode
  #battlefield
  .sprite:not(.end-bunker):not(.base):not(.exploding):hover {
  border-radius: 3px;
  outline: #999 solid 1px;
}

body.edit-mode #battlefield .sprite.selected:not(.exploding) {
  border-radius: 3px;
  /* override :not(), ugh. */
  outline: #090 solid 1px !important;
}

body.edit-mode #battlefield .sprite.newly-added-sprite,
body.edit-mode #battlefield .terrain-item {
  transition: margin 0.25s ease-out;
}

body.edit-mode #battlefield .sprite.newly-added-sprite.tank,
body.edit-mode #battlefield .sprite.tank {
  /* annoying pixel shift */
  margin-top: -2px;
}

body.edit-mode #battlefield .sprite.newly-added-sprite {
  margin-top: 0;
}

body.edit-mode #battlefield .terrain-item {
  margin-bottom: 0;
}

body.edit-mode #battlefield .terrain-item.submerged {
  margin-bottom: -27px;
}

body.edit-mode #battlefield {
  cursor: grab;
}

#battlefield #cutoff-line {
  border-top: 0.75px dotted #666;
  bottom: 0;
  height: 0;
  left: 0;
  margin-bottom: -1px;
  pointer-events: none;
  position: absolute;
  transition: height 0.25s ease-in-out, margin 0.25s ease-in-out;
  width: 100%;
}

#battlefield #cutoff-line.active {
  height: 32px;
  margin-bottom: 0;
  pointer-events: auto;
}

#editor-window {
  display: none;
}

#editor-window .grid {
  position: relative;
}

#editor-window ul.inline-list {
  margin: 0;
  padding: 0 0 1em;
}

#editor-window ul.inline-list li {
  display: inline-block;
  margin-bottom: 0;
  min-width: 11em;
}

#editor-window .static-sprite {
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

#editor-window .static-sprite.default {
  background-image: url(../image/icon_savegame.png);
  height: 16px;
  width: 16px;
}

#editor-window .static-sprite.balloon {
  /* TODO: balloon-static.png? */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAAiBAMAAAAHRyIyAAAAD1BMVEUAAAAAAADa2tqzh1SHVAC3ExoMAAAAAXRSTlMAQObYZgAAAKVJREFUeF6t1OEJxCAMQGGzQd4KrpAV3H+mM1BziJjLQd8/5SOUorZ3E9BtGW37ANsy2vd7R2MS2Dc8DQYx6WQsZubjZCOb1cWY/M54mCFg19DFSBnBLAutMZz9UmOUmRMyM5XRpMYapMxVLzOh39mIb6PG8h/iavYPu7jxGDOKTBsOAE7hxUFyhqRMz0MeYByH3LncmTozK11As/w6lx6H+lPzfh8GtaYB2nfp/AAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-size: contain;
  height: 8.5px;
  width: 19px;
}

#editor-window .static-sprite.cloud {
  background-image: url(../image/cloud-1.png);
  height: 10px;
  width: 34px;
}

#editor-window .static-sprite.landing-pad {
  /* TODO: landing-pad-static.png? */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFEAAAAHCAYAAABwWKHcAAAAXklEQVR4Ae3QgQXAUAyE4X/IN1u26gJdJpXHVdS1FIAcH0LAD5Bl72QDmbVlUaMaIORRfoWcgGpG0fEecuYCdqhyRNwAb/hOa6180JMxXC9aZfvgDaDRTEzVH/EZ7wKYR/MjFUCThgAAAABJRU5ErkJggg==)
    0 0 / contain;
  height: 3.5px;
  width: 40.5px;
}

#editor-window .static-sprite.turret {
  /* TODO: turret-static.png? */
  background: url(data:image/png;base64,R0lGODlhEgAPAPIEAAAAAKpVAaqqAqqqqv///wAAAAAAAAAAACH5BAUKAAQALAAAAAASAA8AAAM0SLoEDixGMASUGIhw8dydt2ic+JXmCKaKA4YeFcxwttEsiZsP7YgOTu83Cc6OvhAAyTxeEgA7)
    50% 0 / contain no-repeat;
  height: 10px;
  width: 12px;
}

#active-sprite {
  bottom: 0;
  filter: invert(1);
  height: 12px;
  position: absolute;
  right: 0;
  width: 32px;
}

#editor-clipboard {
  display: none;
}

#editor-clipboard.active {
  display: inline-block;
}

#marquee {
  /* TODO: GPU */
  background: rgba(33, 99, 33, 0.25);
  border: 1px solid #393;
  height: 0;
  left: 0;
  opacity: 0;
  /* important: events need to fall through this, so JS sees clicks underneath. */
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 125ms ease-out;
  width: 0;
}

body.edit-mode #top-bar {
  /* crop the top, reserving radar for click-and-drag / scrubbing */
  height: calc(42px * var(--gs));
}

/**
 * Sprites for editor UI
 */
.sand-dune {
  background-image: url(../image/sand-dune.png);
  height: 8px;
  width: 51px;
}

.sand-dunes {
  background-image: url(../image/sand-dunes.png);
  height: 11px;
  width: 73px;
}

.checkmark-grass {
  background-image: url(../image/checkmark-grass.png);
  height: 10px;
  width: 15px;
}

.flower {
  background-image: url(../image/flower.png);
  height: 8px;
  width: 11px;
}

.flowers {
  background-image: url(../image/flowers.png);
  height: 11px;
  width: 34px;
}

.flower-bush {
  background-image: url(../image/flower-bush.png);
  height: 13px;
  width: 18px;
}

.tree {
  background-image: url(../image/tree.png);
  height: 27px;
  width: 26px;
}

.tumbleweed {
  background-image: url(../image/tumbleweed.png);
  height: 15px;
  width: 18px;
}

#battlefield.snow .tree {
  background-image: url(../image/tree_snow.png);
}

.palm-tree {
  background-image: url(../image/palm-tree.png);
  height: 22px;
  width: 18px;
}

.rock {
  background-image: url(../image/rock.png);
  height: 13px;
  width: 18px;
}

.rock2 {
  background-image: url(../image/rock2.png);
  height: 11px;
  width: 13px;
}

.grass {
  background-image: url(../image/grass.png);
  height: 9px;
  width: 40px;
}

.gravestone {
  background-image: url(../image/gravestone.png);
  height: 12px;
  width: 20px;
}

.gravestone2 {
  background-image: url(../image/gravestone2.png);
  height: 12px;
  width: 15px;
}

.grave-cross {
  background-image: url(../image/grave-cross.png);
  height: 10px;
  width: 13px;
}

.terrain-item {
  background-size: contain;
  bottom: auto;
  top: 0;
  /* rocks, graves, trees, barb wire etc., all go on top of things. */
  z-index: 11;
}

#battlefield .terrain-item.dynamically-added {
  transition: margin 0.75s ease-in-out;
  /* lay back in the cut, as it were. */
  z-index: 1;
}

.barb-wire {
  background-image: url(../image/barb-wire.png);
  height: 11px;
  width: 18px;
}

.barb-wire,
.cactus {
  background-size: contain;
}

.cactus {
  background-image: url(../image/cactus.png);
  height: 17px;
  width: 12px;
}

.cactus2 {
  background-image: url(../image/cactus2.png);
  background-size: contain;
  height: 25px;
  width: 18px;
}

/* classic game sprites, DOM node edition */

.balloon {
  background-image: url(../image/balloon_mac.png);
  /* initially, show neutral */
  background-size: 38px 144px;
  /* 76 x 288 source image */
  height: 16px;
  /* allow status bar to hang out a bit */
  overflow: visible;
  width: 38px;
  z-index: 2;
}

/* alignment / centering tweaks while on bunker w/chain */
#battlefield .balloon.facing-left:not(.exploding) {
  margin-left: 1.5px;
}

#battlefield .balloon.facing-right:not(.exploding) {
  margin-left: -2.65px;
}

#battlefield.snow .balloon:not(.exploding):not(.dead) {
  background-image: url(../image/balloon_mac_snow.png);
}

.balloon,
.balloon.facing-right {
  /* original yellow version: 0px -120px */
  background-position: 0 -128px;
}

.balloon.animating {
  transition: margin 0.8s linear;
}

.balloon.facing-right.animating {
  animation: balloonright calc(0.8s * var(--gs-frac)) steps(8);
}

.balloon.facing-left {
  /* default when animation finishes */
  background-position: 0 0;
}

.balloon.facing-left.animating {
  animation: balloonleft calc(0.8s * var(--gs-frac)) steps(8);
}

.balloon.dead,
.generic-explosion .sub-sprite,
.generic-explosion-2 .sub-sprite {
  display: none;
}

.chain {
  /**
   * height will be set / reset by JS.
   * element is moved via transform and is effectively fixed-height when active.
   * height is only zeroed when chain is at bottom - detached from balloon and/or bunker.
   */
  height: 0;
  top: 0;
  width: 2.5px;
  background-image: repeating-linear-gradient(
    -33deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 0.5px,
    rgba(255, 255, 255, 0.33) 0.5px,
    rgba(255, 255, 255, 0.33) 1px,
    rgba(255, 255, 255, 0.33) 1px,
    rgba(255, 255, 255, 0) 1.5px
  );
}

body.is_safari:not(.is-mobile) .chain {
  /* tweak for desktop Safari, likely due to scaling. */
  background-image: repeating-linear-gradient(
    -33deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.33) 0.5px,
    rgba(255, 255, 255, 0.33) 0.5px,
    rgba(255, 255, 255, 0.33) 1px,
    rgba(255, 255, 255, 0.33) 1.5px,
    rgba(255, 255, 255, 0) 2px
  );
}

.missile-launcher {
  background-image: url(../image/missile-launcher.png);
  height: 18px;
  width: 54px;
  z-index: 2;
}

.missile-launcher,
.missile-launcher.enemy {
  background-repeat: no-repeat;
  background-size: 54px 72px;
}

.missile-launcher.enemy {
  background-image: url(../image/missile-launcher-enemy.png);
}

.tank,
.tank.enemy {
  background-image: none;
  height: 19px;
  width: 58px;
  z-index: 2;
}

.tank .transform-sprite {
  background-image: url(../image/tank-sprite-horizontal.png);
  background-size: 174px 18px;
  /* 58px x 3 frames */
  height: 18px;
  width: 174px;
}

.tank .transform-sprite,
.tank.enemy .transform-sprite {
  animation: animate-transform-sprite-tank calc(0.1s * var(--gs-frac)) steps(3)
    infinite;
}

.tank.enemy .transform-sprite {
  background-image: url(../image/tank-enemy-sprite-horizontal.png);
}

.tank.stopped .transform-sprite {
  /* show only one frame. */
  animation: none;
}

.van,
.van.enemy {
  background-image: url(../image/van.png);
  background-size: 38px 48px;
  /* retina sprite, 76 x 96 -> 36 x (16px * 3) - vertical sprite */
  height: 16px;
  width: 38px;
  z-index: 2;
}

.van.enemy {
  background-image: url(../image/van-enemy.png);
}

.engineer,
.infantry {
  height: 11px;
  overflow: hidden;
  width: 11px;
  /* on top of helicopter, bunkers etc. */
  z-index: 3;
}

.infantry .transform-sprite {
  /* NOTE: sprite is backwards in sequence. reverse restores proper order. */
  animation: animate-transform-sprite-infantry calc(0.4s * var(--gs-frac))
    steps(5) infinite reverse;
  background-image: url(../image/infantry-sprite-horizontal.png);
  background-size: 55px 11px;
  height: 11px;
  position: absolute;
  width: 55px;
}

.infantry.enemy .transform-sprite {
  /* proper L -> R order, in this case. */
  animation: animate-transform-sprite-infantry calc(0.4s * var(--gs-frac))
    steps(5) infinite;
  background-image: url(../image/infantry-enemy-sprite-horizontal.png);
}

.infantry.stopped {
  background-image: url(../image/infantry-static.png);
  background-repeat: no-repeat;
  background-size: 10px 12px;
}

.infantry.stopped .transform-sprite {
  animation: none;
  display: none;
}

.infantry.enemy.stopped {
  background-image: url(../image/infantry-enemy-static.png);
  background-repeat: no-repeat;
  background-size: 10px 12px;
}

.engineer {
  /* slightly smaller than infantry. */
  width: 10px;
}

.engineer .transform-sprite {
  animation: animate-transform-sprite-engineer calc(0.4s * var(--gs-frac))
    steps(5) infinite;
  background-image: url(../image/engineer-sprite-horizontal.png);
  background-size: 50px 11px;
  height: 11px;
  width: 50px;
}

.sprite.engineer:not(.enemy).building {
  margin-top: 23px;
}

.engineer.stopped {
  background-image: none;
}

.engineer.stopped .transform-sprite {
  animation: none;
  display: block;
}

.engineer.enemy .transform-sprite {
  background-image: url(../image/engineer-enemy-sprite-horizontal.png);
}

.engineer.enemy.exploding,
.infantry.enemy.exploding,
.left-arrow-sign,
.missile-launcher.enemy.exploding,
.tank .sub-sprite,
.tank.enemy.exploding,
.van.enemy.exploding {
  /* horizontal flip tricks */
  filter: FlipH;
  transform: scaleX(-1);
}

.engineer.enemy.exploding,
.infantry.enemy.exploding {
  /* stupid display fix */
  height: 22px !important;
}

.tank.enemy .sub-sprite {
  /* no flip in certain cases */
  filter: unset;
  transform: none;
}

.cloud1,
.cloud2,
.cloud3 {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 0;
  /* clouds hide helicopters. */
  z-index: 12;
}

.cloud1 {
  background-image: url(../image/cloud-1.png);
  height: 29px;
  width: 102px;
}

.cloud2 {
  background-image: url(../image/cloud-2.png);
  height: 28px;
  width: 116px;
}

.cloud3 {
  background-image: url(../image/cloud-3.png);
  height: 34px;
  width: 125px;
}

.base {
  height: 26px;
  overflow: hidden;
  /* +1 pixel, sprite clipping workaround */
  width: 104px;
}

.base.burning {
  /* a little "nuclear" glow, why not. */
  filter: drop-shadow(0 0 calc(8px * var(--gs)) #fff);
  transition: filter 0.5s ease-in-out;
  width: 103px;
  height: 103px;
  margin-top: -77px;
}

.base .transform-sprite {
  animation: animate-transform-sprite-base calc(1s * var(--gs-frac)) steps(5)
    infinite alternate;
  background-image: url(../image/base-sprite-horizontal.png);
  background-size: 100% 100%;
  height: 26px;
  width: 520px;
}

#battlefield.snow .base .transform-sprite {
  animation: animate-transform-sprite-base-snow calc(1s * var(--gs-frac))
    steps(5) infinite alternate;
  background-image: url(../image/base-sprite-horizontal_snow.png);
  background-size: 100% 100%;
  height: 25px;
  width: 510px;
}

.base.enemy .transform-sprite {
  background-image: url(../image/base-enemy-sprite-horizontal.png);
}

#battlefield.snow .base.enemy .transform-sprite {
  background-image: url(../image/base-enemy-sprite-horizontal_snow.png);
}

#battlefield .base.burning .transform-sprite {
  animation: animate-transform-sprite-base-burning calc(0.75s * var(--gs-frac))
    steps(4) infinite;
  background-image: url(../image/base-sprite-horizontal_burning.png);
  background-size: 408px 16px;
  width: 408px;
  height: 16px;
  top: auto;
  bottom: 0;
}

.end-bunker {
  background-image: url(../image/end-bunker.png);
  background-size: contain;
  height: 19px;
  width: 41px;
}

#battlefield.snow .end-bunker {
  /* snow version */
  background-image: url(../image/end-bunker_snow.png);
  margin-bottom: -0.5px;
}

.end-bunker.enemy {
  background-image: url(../image/end-bunker-enemy.png);
}

#battlefield.snow .end-bunker.enemy {
  background-image: url(../image/end-bunker-enemy_snow.png);
}

.super-bunker {
  /* background-image: url(../image/super-bunker.png); */
  background-image: url(../image/super-bunker_mac.png);
  background-size: contain;
  height: 28px;
  width: 66px;
}

#battlefield.snow .super-bunker {
  /* snow version */
  background-image: url(../image/super-bunker_mac_snow.png);
  background-size: contain;
}

.bunker,
.bunker.enemy {
  background-image: url(../image/bunker_mac.png);
  background-size: contain;
  height: 25.5px;
  width: 52px;
  z-index: 1; /* sit on top of chains. */
}

#battlefield.snow .bunker:not(.exploding):not(.burning):not(.dead) {
  background-image: url(../image/bunker_mac_snow.png);
  background-size: contain;
}

/* default / .bunker.facing-right case */
.bunker .sub-sprite.arrow,
.super-bunker .sub-sprite.arrow {
  background-image: url(../image/arrow-right.png);
  height: 10px;
  left: 38px;
  position: absolute;
  top: 8px;
  transition: transform 0.5s ease-in-out;
  width: 6px;
}

.super-bunker .sub-sprite.arrow {
  top: 6px;
  left: 50px;
}

.bunker.facing-left .sub-sprite.arrow,
.super-bunker.facing-left .sub-sprite.arrow {
  transform: rotate3d(0, 0, 1, -180deg);
}

.super-bunker.hostile .sub-sprite.arrow {
  transform: rotate3d(0, 0, 1, -90deg);
}

.bunker.burning .sub-sprite.arrow,
.bunker.exploding .sub-sprite.arrow {
  display: none;
}

.helicopter.exploding,
.missile-launcher.exploding,
.tank.enemy.exploding,
.tank.exploding,
.turret.exploding,
.van.exploding {
  animation: explosionshrapnel2 calc(1s * var(--gs-frac)) steps(12);
  /* give the first frame a little more time */
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  /* Stay on last frame when finished */
  background-image: url(../image/explosion-shrapnel-2.png);
  background-position: 0 -384px;
  /* default state */
  background-repeat: no-repeat;
  background-size: auto;
  height: 32px;
  width: 79px;
}

.tank.exploding {
  margin-left: -11px;
  /* align with where tank was */
  margin-top: -12px; /* offset for 57-pixel-wide normal tank */
}

.missile-launcher.exploding,
.turret.exploding,
.van.exploding {
  /* align with where unit was */
  margin-top: -16px;
}

.bunker.exploding {
  animation: none;
  /* special case */
  background-image: none;
}

.bunker.burning,
.bunker.exploding {
  height: 112px;
  /* bunker is normally 52px */
  margin-left: -30px;
  margin-top: -87px;
  width: 112px;
  z-index: 5;
  /* let nuke show on top of smoke */
  filter: drop-shadow(0 calc(-0.25px * var(--gs)) calc(1.5px * var(--gs)) #fff);
  transition: filter 0.5s ease-in-out;
}

/* special case */
.bunker .sub-sprite.nuke {
  /**
   * Commercial, licensed asset - $1.99 USD.
   * https://infectedtribe.itch.io/pixel-explosion
   * 96 x 71 x 16 frames, 100 ms per frame. spritesheet dimensions: 1536 x 71
   * https://graphicriver.net/item/pixel-explosion-set/15457666
   */
  background-image: url(../image/infectedtribe_itch_io-pixel_explosion.png);
  background-position: 112px 0;
  background-repeat: no-repeat;
  background-size: 2352px 112px;
  margin-top: -2px;
  visibility: hidden;
  z-index: 3;
}

.bunker .sub-sprite.nuke {
  transform: scale3d(0.88, 0.88, 1);
  transform-origin: 50% 100%;
}

.bunker.burning .sub-sprite.nuke,
.bunker.exploding .sub-sprite.nuke {
  /* go go go! */
  animation: nuke calc(1.5s * var(--gs-frac)) steps(21);
  animation-fill-mode: forwards;
  visibility: visible;
}

.turret.exploding {
  /* adjust for larger explosion sprite */
  margin-left: -30.5px;
}

.van.exploding {
  /* 32px -> 79px */
  margin-left: -28px;
}

.bunker.burning .sub-sprite.rubble-container,
.bunker.exploding .sub-sprite.rubble-container {
  bottom: 0;
  height: 8px;
  left: 50%;
  margin-left: -26px;
  overflow: hidden;
  top: auto;
  /* always stay centered relative to bunker (larger when exploding etc.) */
  width: 52px;
}

.bunker.burning .sub-sprite.rubble,
.bunker.exploding .sub-sprite.rubble {
  animation: burninating calc(0.5s * var(--gs-frac)) steps(4) infinite;
  background-image: url(../image/bunker-burning-sprite-horizontal.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  bottom: 0;
  height: 9px;
  left: 0;
  position: absolute;
  /* transition duration set via JS */
  transition: opacity;
  /* 53px * 4 frames */
  width: 212px;
}

.bunker.burning-out .sub-sprite.rubble {
  /* gradually hide the burning bits */
  opacity: 0;
}

.bunker.burning,
.bunker.dead {
  background-image: url(../image/bunker-dead.png);
  background-position: 50% 100%;
  display: block;
  /* room for burning animation */
  height: 9px;
  margin-left: 0;
  /* to get 25px height, align with bottom */
  margin-top: 16px;
  width: 53px;
}

.sprite.missile-launcher.building,
.sprite.tank.building {
  margin-top: 18px;
}

.sprite.van.building {
  margin-top: 16px;
}

.sprite.engineer.building,
.sprite.infantry.building {
  margin-top: 11px;
}

.sprite.ordering {
  contain: layout;
  /* TODO: remove margin-bottom once all bottom-aligned things are out */
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  transition: margin 2s; /* override .building rules */
}

.sprite.recycling {
  /* units drop "below", in reverse of ordering */
  /* (when applied as .building.recycling) */
  transition: margin 2s;
}

.smart-missile-tracking:not(.turret):not(.parachute-infantry):not(
    .placeholder
  ) {
  /**
   * Turn "hot" fast, with a few exceptions -
   * Turrets and parachute infantry need to keep
   * their own timings for animation / transitions.
   */
  transition-duration: 0.25s;
}

.turret,
.turret .sub-sprite {
  background: url(../image/turret-sprite.png) 50% 0/18px 64px no-repeat;
  height: 15px;
  width: 22px;
  /* 18 + a few pixels for turret rotation */
  z-index: 2; /* sit atop bunkers */
}

.turret .sub-sprite {
  background-position: 50% -16px;
  height: 31px !important;
  top: -5px;
}

.turret:not(.destroyed):not(.firing):not(.exploding) .sub-sprite {
  animation: scan calc(2s * var(--gs-frac)) linear infinite alternate;
}

.turret:not(.firing):not(.exploding).engineer-interacting {
  animation: sorta-blink-subtle calc(1s * var(--gs-frac)) steps(8) infinite;
}

.turret.destroyed {
  background: 0 0;
}

.turret.destroyed .sub-sprite {
  background-position: 50% 100%;
  bottom: 0;
  height: 3px !important;
  /* bottom-align dead sprite */
  top: auto;
}

.bomb {
  bottom: auto;
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
  z-index: 2;
}

.bomb .sub-sprite {
  background-image: url(../image/bomb.png);
  background-position: 0 0;
  background-size: 14px 6px;
}

.bomb.spark .sub-sprite,
.bomb.spark-2 .sub-sprite {
  animation: none;
}

.bomb.spark .sub-sprite,
.bomb.spark-2 .sub-sprite,
.gunfire.spark,
.gunfire.spark-2 {
  background-image: url(../image/explosion-spark.png);
  background-position: 0 0;
  background-size: contain;
  height: 5px;
  width: 5px;
}

.bomb.spark-2 .sub-sprite,
.gunfire.spark-2 {
  background-image: url(../image/explosion-spark-2.png);
}

.gunfire.spark,
.gunfire.spark-2 {
  background-color: transparent;
  z-index: 5;
}

#battlefield .bomb.spark,
#battlefield .gunfire.spark.dead,
#battlefield .bomb.spark-2,
#battlefield .gunfire.spark-2.dead {
  /* nice fade for sparks */
  transition: opacity 0.25s ease-in;
  transition-delay: 0.5s;
  opacity: 0;
}

#battlefield .sprite.explosion-classic,
#battlefield .sprite.explosion-classic-2 {
  background: 0 0;
  width: 56px;
  height: 22px;
  margin-left: 0;
  margin-top: 0;
  filter: drop-shadow(
    0 calc(-0.25px * var(--gs)) calc(1.5px * var(--gs)) #cc3333
  );
}

#battlefield .sprite.explosion-classic .sub-sprite,
#battlefield .sprite.explosion-classic-2 .sub-sprite {
  background-image: url(../image/explosion-large.png);
  animation: classic-explosion calc(0.4s * var(--gs-frac)) steps(5);
  /* default when animation finishes */
  animation-fill-mode: forwards;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  height: 500%;
  /* this element had better have the right aspect ratio. :X */
  background-size: 100% 100%;
  background-position: 0 0;
}

#battlefield .sprite.explosion-classic-2 .sub-sprite {
  background-image: url(../image/explosion-large-2.png);
}

.bomb.explosion-large {
  background: 0 0;
  height: 56px;
  margin-left: 0;
  margin-top: -32px;
  transform-origin: 50% 100%;
  width: 51px;
}

.bomb.explosion-large .sub-sprite {
  animation: largeexplosion calc(0.66s * var(--gs-frac)) steps(10);
  /**
   * "Dirt Explosion" by SrGrafo on DeviantArt
   * https://www.deviantart.com/srgrafo/art/Dirt-Explosion-774442026
   */
  background-image: url(../image/deviantart-Dirt-Explosion-774442026_1024x112.webp);
  background-position: 0 0;
  background-size: 512px 51px;
  height: 51px;
  /* default state */
  transform: translate3d(-512px, 0, 0);
  width: 512px;
}

.generic-explosion,
.generic-explosion-2 {
  /* default when animation finishes */
  animation: genericexplosionsmall calc(0.5s * var(--gs-frac)) steps(4);
  /* give the first frame a little more time */
  animation-delay: 75ms;
  /* stay at the last frame, when animation finishes */
  animation-fill-mode: forwards;
  background-image: url(../image/generic-explosion.png);
  /* full-width, and 5x height for the five frames */
  background-size: 100% 500%;
  filter: drop-shadow(0 0 calc(2px * var(--gs)) #cc3333);
}

/* note: only apply to armed smart missiles - otherwise, positioning gets messed up. */
.sprite.balloon,
.sprite.chain,
.sprite.engineer,
.sprite.infantry,
.sprite.missile-launcher,
.sprite.super-bunker,
.sprite.tank,
.sprite.van,
.turret .sub-sprite {
  /* for .smart-missile-tracking filter */
  transition: filter 1s cubic-bezier(0.45, 0.48, 0.25, 1.57);
}

body.edit-mode #battlefield .sprite.submerged {
  margin-top: 27px !important;
}

@keyframes classic-explosion {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -100%, 0);
  }
}

.generic-explosion-2 {
  background-image: url(../image/generic-explosion-2.png);
}

@keyframes balloonright {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: 0 -128px; /* original yellow version: 0px -135px */
  }
}

@keyframes balloonleft {
  0% {
    background-position: 0 -128px; /* original yellow version: 0px -120px */
  }

  to {
    background-position: 0 0;
  }
}

@keyframes nuke {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: -2352px 0;
  }
}

@keyframes scan {
  0% {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes animate-transform-sprite-tank {
  0% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-174px, 0, 0);
  }
}

@keyframes animate-transform-sprite-infantry {
  0% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-55px, 0, 0);
  }
}

@keyframes burninating {
  0% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes bomb {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: 0 -33px;
  }
}

@keyframes bomb-rotate {
  0% {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(0);
  }
}
