html,
body {
 margin: 0px;
 padding: 0px;
}

body {
 font-family: verdana, tahoma, sans-serif;
 font-size: 1em;
 background: #111;
 color: #fff;
 -webkit-font-smoothing: none;
 font-smooth: never;
}

#aa {
}

#world-wrapper {
 position: absolute;
 top: 50%;
 left: 0px;
 height: 384px;
 width: 100%;
 border-bottom: 2px solid #666;
 margin-top: -192px;
 background: #000;
 font-size: 11px;
 font-weight: bold;
 cursor: crosshair;
 cursor: url(../image/cursor-neutral.ico);
}

#game-status-bar {
 border: 1px solid rgb(23,160,7);
 border-left: none;
 border-right: none;
 padding: 1px 0px;
}

#game-status-bar.building {
 /* when inventory is being ordered */
 border-color: #fff;
}

#game-status-bar.repair-complete {
 background-color: #ff33ff;
}

#game-status {
 position: absolute;
 top: 6px;
 left: 0px;
 width: 100%;
}

#game-status li {
 text-indent: 0.5em;
 margin-right: 1em;
}

#game-status li:last-of-type {
 position: absolute;
 text-align: right;
 right: 0.5em;
 /* for now, no scoring */
 opacity: 0.5;
}

#game-status-bar #radar {
 height: 32px;
}

#world-wrapper.incoming-smart-missile {
 border-color: #fff;
}

#player-status-bar {
 line-height: 24px;
}

#aa ul,
#aa ul li {
 margin: 0px;
 padding: 0px;
}

#aa ul {
 list-style-type: none;
}

#aa ul li {
 display: inline-block;
 min-width: 20%;
}

#fuel-bar {
 position: relative;
 height: 5px;
 background: #fff url(../image/fuel-bar-background.png);
 margin-top: 3px;
}

#fuel-bar #fuel-line {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
 background: #fff;
}

#repair-complete {
 position: absolute;
 background: #000 url(../image/status-repair-complete.png) repeat-x 0px 0px;
 display: none;
 top: 35px;
 left: 0px;
 width: 100%;
 height: 13px;
}

ul.stats-bar li {
 vertical-align: top;
 text-align: center;
}

ul.stats-bar em {
 position: relative;
 display: inline-block;
 text-indent: -999em;
 overflow: hidden;
 vertical-align: middle;
}

ul.stats-bar .lives em {
 background: transparent url(../image/status-helicopter.png) no-repeat 0px 0px;
 width: 15px;
 height: 6px;
 margin-left: 0.5em;
}

ul.stats-bar .infantry {
 background: transparent !important;
 width: 20% !important;
}

ul.stats-bar .infantry em {
 background: transparent url(../image/status-infantry.png) no-repeat 0px 0px;
 width: 8px;
 height: 13px;
}

ul.stats-bar .missiles em {
 background: transparent url(../image/status-missile.png) no-repeat 0px 0px;
 width: 10px;
 height: 9px;
}

ul.stats-bar .ammo em {
 background: transparent url(../image/status-ammo.png) no-repeat 0px 0px;
 width: 14px;
 height: 8px;
}

ul.stats-bar .bombs em {
 background: transparent url(../image/status-bombs.png) no-repeat 0px 0px;
 width: 3px;
 height: 11px;
}


#world-wrapper {
/*
	background: transparent url(../image/star-background.png);
*/
}

#top-bar {
	background: #000;
}

#world {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#battlefield {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 8192px;
	height: 100%;
}

#stars {
	/* GPU parallax, where possible */
	position: absolute;
	top: 64px;
	left: 0px;
	/* will be adjusted according to browser width + 10% of battlefield width. */
	width: 100%;
	height: 320px;
	background: transparent url(../image/star-background.png);
}

#world .sprite {
	position: absolute;
	bottom: 0px;
	left: -128px; /* initially, position off-screen */
	background-position: 0px 0px;
	background-repeat: no-repeat;
	z-index: 1;
	-moz-pointer-events: none;
	pointer-events: none;
	/* do the GPU thing. */
	-webkit-transform: translate3d(0,0,0);
}

#world .bunker,
#world .bunker.enemy {
	background-image: url(../image/bunker.png);
	width: 51px;
	height: 25px;
	z-index: 1;
}

#world .bunker.enemy {
	background-image: url(../image/bunker-enemy.png);
}

#world .balloon,
#world .balloon.enemy {
	background-image: url(../image/balloon.png);
	/* initially, show neutral */
	background-position: 0px -60px;
	left: 0px;
	width: 38px;
	height: 16px;
	z-index: 2;
}

#world .balloon,
#world .balloon.facing-right {
	background-position: 0px -120px; /* default when animation finishes */
	-webkit-animation: balloonright 1s steps(9);
	-moz-animation: balloonright 1s steps(9);
	animation: balloonright 1s steps(9);
}

#world .balloon.enemy,
#world .balloon.facing-left {
	background-position: 0px 0px; /* default when animation finishes */
	-webkit-animation: balloonleft 1s steps(9);
	-moz-animation: balloonleft 1s steps(9);
	animation: balloonleft 1s steps(9);
}

@-webkit-keyframes balloonright {
 from { background-position: 0px 0px; }
 to { background-position: 0px -135px; }
}

@-moz-keyframes balloonright {
 from { background-position: 0px 0px; }
 to { background-position: 0px -135px; }
}

@keyframes balloonright {
 from { background-position: 0px 0px; }
 to { background-position: 0px -135px; }
}

@-webkit-keyframes balloonleft {
 from { background-position: 0px -135px; }
 to { background-position: 0px 0px; }
}

@-moz-keyframes balloonleft {
 from { background-position: 0px -135px; }
 to { background-position: 0px 0px; }
}

@keyframes balloonleft {
 from { background-position: 0px -135px; }
 to { background-position: 0px 0px; }
}

#world .balloon.exploding {
	background-image: url(../image/generic-explosion.png);
	background-position: 0px -30px; /* default when animation finishes */
	-webkit-animation: genericexplosionsmall 0.45s steps(3);
	-moz-animation: genericexplosionsmall 0.45s steps(3);
	animation: genericexplosionsmall 0.45s steps(3);
}

#world .sprite.dead {
	background-image: none;
}

#world .chain {
	width: 1px;
	border-right: 1px dotted #fff;
	top: 0px;
	z-index: -1;
}

#world .missile-launcher {
	background-image: url(../image/missile-launcher.png);
	width: 54px;
	height: 18px;
	z-index: 2;
}

#world .missile-launcher.enemy {
	background-image: url(../image/missile-launcher-enemy.png);
}

#world .tank,
#world .tank.enemy {
	background-image: url(../image/tank.gif);
	width: 57px;
	height: 18px;
	z-index: 2;
	/* left + bottom-align */
	background-position: 0px 100%;
}

#world .tank.stopped {
	background-image: url(../image/tank.png);
}

#world .tank.enemy {
	background-image: url(../image/tank-enemy.gif);
}

#world .tank.smouldering-phase-1,
#world .tank.smouldering-phase-2 {
	width: 58px;
	height: 22px;
}

#world .tank.smouldering-phase-1 .sub-sprite {
	display: block;
	background-image: url(../image/smouldering-phase-1.gif);
	background-position: 50% 66%;
}

#world .tank.smouldering-phase-2 .sub-sprite {
	display: block;
	background-image: url(../image/smouldering-phase-2.gif);
	background-position: 50% 0px;
}

#world .tank.exploding .sub-sprite {
	display: none;
}

@-webkit-keyframes genericexplosion {
 from { background-position: 0px 0px; }
 to { background-position: 0px -250px; }
}

@-moz-keyframes genericexplosion {
 from { background-position: 0px 0px; }
 to { background-position: 0px -250px; }
}

@keyframes genericexplosion {
 from { background-position: 0px 0px; }
 to { background-position: 0px -250px; }
}

/* small */

@-webkit-keyframes genericexplosionsmall {
 from { background-position: 0px 0px; }
 to { background-position: 0px -45px; }
}

@-moz-keyframes genericexplosionsmall {
 from { background-position: 0px 0px; }
 to { background-position: 0px -45px; }
}

@keyframes genericexplosionsmall {
 from { background-position: 0px 0px; }
 to { background-position: 0px -45px; }
}

#world .van {
	background-image: url(../image/van.png);
	width: 38px;
	height: 16px;
	z-index: 2;
}

#world .van.enemy {
	background-image: url(../image/van-enemy.png);
}

#world .infantry,
#world .engineer {
	background-image: url(../image/infantry.gif);
	width: 10px;
	height: 11px;
	z-index: 2;
}

#world .infantry.enemy {
	background-image: url(../image/infantry-enemy.gif);
	width: 11px;
	height: 11px;
}

#world .engineer {
	background-image: url(../image/engineer.gif);
}

#world .engineer.enemy {
	/* TODO: get proper enemy infantry images */
	background-image: url(../image/engineer-enemy.gif);
}

#world .parachute-infantry {
	background-image: url(../image/parachute-infantry.png);
	background-position: 0px -60px;
	width: 14px;
	/* shorter until parachute is deployed. */
	height: 11px;
}

#world .parachute-infantry.parachute-open {
	background-position: 0px 0px;
	height: 19px;
}

#world .missile-launcher.enemy.exploding,
#world .van.enemy.exploding,
#world .tank.enemy.exploding,
#world .infantry.enemy.exploding,
#world .engineer.enemy.exploding,
#world .tank .sub-sprite,
#world .helicopter .sub-sprite,
#world .helicopter.facing-left.moving-right .sub-sprite,
#world .left-arrow-sign {
	/* horizontal flip tricks */
	filter: FlipH;
	-ms-filter: "FlipH";
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

#world .helicopter.enemy .sub-sprite,
#world .helicopter.facing-left .sub-sprite,
#world .helicopter.moving-left .sub-sprite,
#world .tank.enemy .sub-sprite {
	/* no flip in certain cases */
	filter: none;
	-ms-filter: none;
	-moz-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	transform: none;
}

#world .van.enemy {
	background-image: url(../image/van-enemy.png);
}

#world .helicopter {
	background-image: url(../image/helicopter.png);
	bottom: auto;
	top: 0px;
	width: 48px;
	height: 15px;
	z-index: 2;
}

#world .helicopter.tilt, /* default case */
#world .helicopter.facing-right.tilt {
	background-image: url(../image/helicopter-lr-tilt-down.gif);
	width: 51px;
	height: 21px;
}

#world .helicopter.moving-left.tilt {
	background-image: url(../image/helicopter-lr-tilt-up.gif);
	width: 51px;
	height: 21px;
}

#world .helicopter.facing-left.tilt {
	background-image: url(../image/helicopter-rl-tilt-down.gif);
	width: 51px;
	height: 21px;
}

#world .helicopter.moving-left.facing-right.tilt {
	background-image: url(../image/helicopter-lr-tilt-up.gif);
	width: 51px;
	height: 21px;
}

#world .helicopter.moving-right.facing-left.tilt {
	background-image: url(../image/helicopter-rl-tilt-up.gif);
	width: 51px;
	height: 21px;
}

#world .helicopter.rotated-left,
#world .helicopter.rotated-right {
	background-image: url(../image/helicopter-rotating.png) !important;
	width: 50px;
	height: 20px;
	-webkit-animation: rotateleft 0.33s steps(3);
	-moz-animation: rotateleft 0.33s steps(3);
	animation: rotateleft 0.33s steps(3);
}

#world .helicopter.rotated-right {
	width: 50px;
	height: 20px;
	-webkit-animation: rotateright 0.33s steps(3);
	-moz-animation: rotateright 0.33s steps(3);
	animation: rotateright 0.33s steps(3);
}

@-webkit-keyframes rotateleft {
 from { background-position: 0px 0px; }
 to { background-position: 0px -60px; }
}

@-moz-keyframes rotateleft {
 from { background-position: 0px 0px; }
 to { background-position: 0px -60px; }
}

@keyframes rotateleft {
 from { background-position: 0px 0px; }
 to { background-position: 0px -60px; }
}

@-webkit-keyframes rotateright {
 from { background-position: 0px -40px; }
 to { background-position: 0px 20px; }
}

@-moz-keyframes rotateright {
 from { background-position: 0px -40px; }
 to { background-position: 0px 20px; }
}

@keyframes rotateright {
 from { background-position: 0px -40px; }
 to { background-position: 0px 20px; }
}

/*
#world .helicopter.smouldering-phase-1 .sub-sprite {
	display: block;
	background-image: url(../image/smouldering-phase-1.gif);
	background-position: 50% 66%;
}

#world .helicopter.smouldering-phase-2 .sub-sprite {
	display: block;
	background-image: url(../image/smouldering-phase-2.gif);
	background-position: 50% 0px;
}
*/

#world .helicopter.enemy,
#world .helicopter.enemy.facing-left,
#world .helicopter.enemy.facing-right {
	background-image: url(../image/helicopter-enemy-rl.gif);
	width: 55px;
	height: 18px;
	z-index: 3;
}

#world .helicopter.enemy.facing-left {
	background-image: url(../image/helicopter-enemy-rl.gif);
}

#world .helicopter.dead {
	display: none;
}

#world .gunfire {
	position: absolute;
	width: 2px;
	height: 1px;
	background: #ccc;
	background-color: rgb(156,159,8);
	z-index: 2;
}

#world .gunfire.expired {
	background-color: #555;
}

#world .smart-missile {
	position: absolute;
	width: 16px;
	height: 15px;
	background: transparent url(../image/smart-missile.png) no-repeat 0px 0px;
	/* a little transition on missile direction changes, as vX/vY can be pretty much immediate */
	-ms-transition: -ms-transform 0.2s ease-none;
	-moz-transition: -moz-transform 0.2s ease-none;
	-webkit-transition: -webkit-transform 0.2s ease-none;
	transition: transform 0.2s ease-none;
}

#world .smart-missile.expired {
	/* TODO: review */
}

#world .smart-missile .sub-sprite {
}

#world .smart-missile .sub-sprite {
	display: block;
	background-image: url(../image/smouldering-phase-1.gif);
	background-position: 0px 0px;
}

#world .smart-missile.spark {
	border: none;
}

#world .smart-missile-trailer {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: rgb(156,159,8);
}

#world .smoke {
	position: absolute;
	width: 9px;
	height: 9px;
	background: transparent url(../image/smoke-sprite.png) no-repeat 0px 0px;
	z-index: 4;
}

#world .base {
	background-image: url(../image/base.gif);
	width: 102px;
	height: 25px;
}

#world .base.enemy {
	background-image: url(../image/base-grey.png);
	width: 102px;
	height: 25px;
}

#world .end-bunker {
	background-image: url(../image/end-bunker.png);
	width: 39px;
	height: 17px;
}

#world .barb-wire {
	background-image: url(../image/barb-wire.png);
	width: 16px;
	height: 10px;
}

#world .cactus {
	background-image: url(../image/cactus.png);
	width: 8px;
	height: 16px;
}

#world .landing-pad {
	background-image: url(../image/base-landing-pad.gif);
	width: 87px;
	height: 7px;
}

#world .checkmark-grass {
	background-image: url(../image/checkmark-grass.png);
	width: 13px;
	height: 10px;
}

#world .flower {
	background-image: url(../image/flower.png);
	width: 9px;
	height: 7px;
}

#world .flowers {
	background-image: url(../image/flowers.png);
	width: 32px;
	height: 10px;
}

#world .tree {
	background-image: url(../image/tree.png);
	width: 26px;
	height: 27px;
}

#world .palm-tree {
	background-image: url(../image/palm-tree.png);
	width: 18px;
	height: 22px;
}

#world .rock {
	background-image: url(../image/rock.png);
	width: 18px;
	height: 13px;
}

#world .rock2 {
	background-image: url(../image/rock2.png);
	width: 13px;
	height: 11px;
}

#world .gravestone {
	background-image: url(../image/gravestone.png);
	width: 20px;
	height: 13px;
}

#world .grave-cross {
	background-image: url(../image/grave-cross.png);
	width: 11px;
	height: 9px;
}

#world .tree,
#world .palm-tree,
#world .rock,
#world .rock-2 {
	z-index: 3;
}

#world .left-arrow-sign,
#world .right-arrow-sign {
	background-image: url(../image/right-arrow-sign.png);
	width: 26px;
	height: 24px;
}

#world .helicopter,
#world .helicopter.facing-left,
#world .helicopter.facing-right {
	background-image: url(../image/helicopter-lr.gif);
	width: 48px;
	height: 15px;
	z-index: 3;
}

#world .helicopter.facing-left {
	background-image: url(../image/helicopter-rl.gif);
}

/* TODO: review/remove */

@-webkit-keyframes bomb {
 from { background-position: 0px 0px; }
 to { background-position: 0px -33px; }
}

@-moz-keyframes bomb {
 from { background-position: 0px 0px; }
 to { background-position: 0px -33px; }
}

@keyframes bomb {
 from { background-position: 0px 0px; }
 to { background-position: 0px -33px; }
}

/* new transform-based rotate() effect */

@-webkit-keyframes bomb-rotate {
 from { -webkit-transform: rotate(-90deg); }
 to { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes bomb-rotate {
 from { -moz-transform: rotate(-90deg); }
 to { -moz-transform: rotate(0deg); }
}

@keyframes bomb-rotate {
 from { transform: rotate(-90deg); }
 to { transform: rotate(0deg); }
}

@-webkit-keyframes largeexplosion {
 from { background-position: 0px 0px; }
 to { background-position: 0px -110px; }
}

@-moz-keyframes largeexplosion {
 from { background-position: 0px 0px; }
 to { background-position: 0px -110px; }
}

@keyframes largeexplosion {
 from { background-position: 0px 0px; }
 to { background-position: 0px -110px; }
}

#world .turret,
#world .turret .sub-sprite {
	background: transparent url(../image/turret.png) 0px 0px no-repeat;
	width: 18px;
	height: 15px;
}

#world .turret.enemy {
	-webkit-filter: grayscale(1);
}

#world .turret .sub-sprite {
	background-position: 50% -16px;
	height: 31px !important;
	top: -5px;
}

#world .turret.destroyed {
	background: transparent;
}

#world .turret.destroyed .sub-sprite {
	/* bottom-align dead sprite */
	top: auto;
	bottom: 0px;
	height: 3px !important;
	background-position: 50% 100%;
}

#world .bomb {
	background-image: url(../image/bomb.png);
	background-position: 0px -24px; /* default for when animation finishes: down state */
	width: 13px;
	height: 12px;
	z-index: 2;
}

#world .bomb.dropping {
	/*
	-webkit-animation: bomb 1s steps(3);
	-moz-animation: bomb 1s steps(3);
	animation: bomb 1s steps(3);
	*/
	-webkit-animation: bomb-rotate 1s ease-in-out;
	-moz-animation: bomb-rotate 1s ease-in-out;
	animation: bomb-rotate 1s ease-in-out;
}

#world .bomb.dropping.spark,
#world .bomb.dropping.explosion-large {
	-webkit-animation: none;
	-moz-animation:  none;
	animation: none;
	background-image: url(../image/explosion-spark.png);
	background-position: 0px 0px;
	width: 5px;
	height: 5px;
}

#world .smart-missile.spark,
#world .gunfire.spark {
	background-image: url(../image/explosion-spark.png);
	background-position: 0px 0px;
	width: 5px;
	height: 5px;
	z-index: 5;
}

#world .bomb.dropping.explosion-large {
	-webkit-animation: largeexplosion 0.5s steps(5);
	-moz-animation: largeexplosion 0.5s steps(5);
	animation: largeexplosion 0.5s steps(5);
	background-image: url(../image/explosion-large.png);
	/* default state */
	background-position: 0px -110px;
	width: 51px;
	height: 22px;
	margin-left: -26px;
}

#game-status-bar #radar {
	position: relative;
}

#game-status-bar #radar .sprite {
	position: absolute;
	bottom: 0px;
	background: none;
	width: 2px;
	height: 2px;
	background-color: #ccc;
	margin: 0px 0px -1px -1px;
}

/* .friendly? */
#game-status-bar #radar .sprite {
	background-color: rgb(23,160,7);
}

#game-status-bar #radar .sprite.bunker {
	background-color: #ccc;
}

#game-status-bar #radar .sprite.balloon {
	width: 1px;
	height: 1px;
	background-color: #fff;
}

#game-status-bar #radar .sprite.smart-missile {
	position: absolute;
	top: auto;
	left: 0px;
	bottom: auto;
	width: 1px;
	height: 1px;
	background-color: red;
}

#game-status-bar #radar .sprite.helicopter {
	width: 0;
	height: 0;
	font-size: 0px;
	background-color: transparent;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 3px solid rgb(23,160,7);
	-webkit-animation: blink 0.5s infinite;
	-moz-animation: blink 0.5s infinite;
	-ms-animation: blink 0.5s infinite;
	-o-animation: blink 0.5s infinite;
	animation: blink 0.5s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.125;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.125;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.125;
    }
    100% {
        opacity: 1;
    }
}

#game-status-bar #radar .sprite.van,
#game-status-bar #radar .sprite.missile-launcher {
	width: 2px;
	height: 1px;
}

#game-status-bar #radar .sprite.infantry,
#game-status-bar #radar .sprite.parachute-infantry,
#game-status-bar #radar .sprite.engineer {
	width: 1px;
	height: 1px;
}

#game-status-bar #radar .sprite.smart-missile {
	width: 1px;
	height: 1px;
 	background: red;
}

#game-status-bar #radar .sprite.end-bunker {
	width: 2px;
	height: 1px;
	margin-left: 1px;
}

#game-status-bar #radar .sprite.dying {
	-webkit-animation: blink 0.25s infinite;
	-moz-animation: blink 0.25s infinite;
	-ms-animation: blink 0.25s infinite;
	-o-animation: blink 0.25s infinite;
	animation: blink 0.25s infinite;
}

#game-status-bar #radar .sprite.dead {
	display: none;
}

/* TODO: remove */

.collision-check-1 {
	position: absolute;
	border: 1px solid #ff33ff;
	background: rgba(255,64,255,0.25);
}

.collision-check-2 {
	position: absolute;
	border: 1px solid #33ff33;
	background: rgba(64,255,64,0.25);
}

/* TODO: review explosions (enemy was used for original animation) */
#world .tank.exploding,
#world .van.exploding,
#world .missile-launcher.exploding,
#world .tank.enemy.exploding,
#world .bunker.exploding,
#world .helicopter.exploding {
	width: 79px;
	height: 32px;
	background-image: url(../image/explosion-shrapnel-2.png);
	background-position: 0px -352px; /* default state */
	-webkit-animation: explosionshrapnel2 1s steps(12);
	-moz-animation: explosionshrapnel2 1s steps(12);
	animation: explosionshrapnel2 1s steps(12);
}

#world .bunker.exploding {
	/* bunker is normally 52px */
	margin-left: -13px;
}

#world .van.exploding {
	/* 32px -> 79px */
	margin-left: -28px;
}

#world .sprite .sub-sprite {
	/* explosion / burning overlays */
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#world .bunker.burning {
	background-image: none;
}

#world .bunker.exploding .sub-sprite,
#world .bunker.burning .sub-sprite {
	/*
	width: 52px;
	height: 9px;
	*/
	background-image: url(../image/bunker-burning.gif);
	background-position: 50% 100%;
	background-repeat: none;
}

#world .bunker.dead {
	display: block;
	width: 52px;
	height: 4px;
	background-image: url(../image/bunker-dead.png);
}

#world .tank.exploding {
	margin-left: -11px; /* offset for 57-pixel-wide normal tank */
}

@-webkit-keyframes explosionshrapnel2 {
 from { background-position: 0px 0px; }
 to { background-position: 0px -384px; }
}

@-moz-keyframes explosionshrapnel2 {
 from { background-position: 0px 0px; }
 to { background-position: 0px -384px; }
}

@keyframes explosionshrapnel2 {
 from { background-position: 0px 0px; }
 to { background-position: 0px -384px; }
}

#world .sprite.bottom-align {
	top: auto !important;
	bottom: 0px !important;
}

#world .infantry.exploding,
#world .parachute-infantry.exploding,
#world .engineer.exploding {
	width: 10px;
	height: 22px;
	background-image: url(../image/infantry-explosion-2.png);
	background-position: 0px -220px; /* default state */
	-webkit-animation: infantryexplosion 1s steps(10);
	-moz-animation: infantryexplosion 1s steps(10);
	animation: infantryexplosion 1s steps(10);
}

@-webkit-keyframes infantryexplosion {
 from { background-position: 0px 0px; }
 to { background-position: 0px -220px; }
}

@-moz-keyframes infantryexplosion {
 from { background-position: 0px 0px; }
 to { background-position: 0px -220px; }
}

@keyframes infantryexplosion {
 from { background-position: 0px 0px; }
 to { background-position: 0px -220px; }
}

#key-legend {
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin-bottom: -2em;
	color: #666;
}

#key-legend em {
	color: #999;
	font-style: normal;
}

#world .sprite.missile-launcher.building,
#world .sprite.tank.building {
	margin-bottom: -18px;
}

#world .sprite.van.building {
	margin-bottom: -16px;
}

#world .sprite.infantry.building,
#world .sprite.engineer.building {
	margin-bottom: -11px;
}

#world .sprite.ordering {
	-webkit-transition: margin 2s;
	-moz-transition: margin 2s;
	transition: margin 2s;
	margin-bottom: 0px !important; /* override .building rules */
}

#game-status-bar #radar .sprite.enemy {
	background-color: #ccc;
}

#game-status-bar #radar .sprite.helicopter.enemy {
	background-color: transparent;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent;
	border-right: 3px solid #ccc;
}

#game-status-bar #radar .sprite.turret {
	width: 1px;
	height: 2px;
	background-color: rgb(23,160,7);
}

#game-status-bar #radar .sprite.turret.enemy {
	background-color: #ccc;
}

#game-status-bar #radar .sprite.turret.destroyed {
	opacity: 0.5;
}

#world .shrapnel {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 12px;
	height: 12px;
	background-image: url(../image/shrapnel.png);
	background-position: 0px 0px;
}

#world .cloud1,
#world .cloud2 {
	left: 0px;
	top: 0px;
	/* clouds hide helicopters. */
	z-index: 5;
}

#world .cloud1 {
	background: url(../image/cloud-1.png) no-repeat 0px 0px;
	width: 102px;
	height: 29px;
}

#world .cloud2 {
	background: url(../image/cloud-2.png) no-repeat 0px 0px;
	width: 125px;
	height: 34px;
}

#extra-content {
	/* TODO: make this more friendly. */
	display: none;
}

#game-tips {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#game-tips .tips-container {
	position: absolute;
	top: 33%;
	left: 50%;
	margin: -0.5em auto 0px -400px;
	padding: 0px;
	line-height: 1.5em;
	width: 800px;
	overflow: hidden;
	display: none;
}

#game-tips .tips-container div {
	position: relative;
	width: 120800px; /* per-item value * 100 tips, plus padding */
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	overflow: hidden;
}

#game-tips.active .tips-container {
	display: block;
}

#game-tips.active .tips-container div {
	/* CSS3 <marquee>-like animation */
	-webkit-animation: marquee 2000s infinite steps(20000);
	-moz-animation: marquee 2000s infinite steps(20000);
	-ms-animation: marquee 2000s infinite steps(20000);
	-o-animation: marquee 2000s infinite steps(20000);
	animation: marquee 2000s infinite steps(20000);
}

#game-tips .tips-container div:first-of-type {
	/* bump first item over, so it scrolls into view from the right */
	padding-left: 800px;
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    100% {
        -webkit-transform: translate3d(-120000px, 0px, 0px);
    }
}

@-moz-keyframes marquee {
    0% {
        text-indent: 0px;
    }
    100% {
        text-indent: -120000px;
    }}

@keyframes marquee {
    0% {
        text-indent: 0px;
    }
    100% {
        text-indent: -120000px;
    }
}

#game-tips .tips-container div span {
	display: inline-block;
	width: 1000px;
}