/*
                                         ████▙   ▀████▌████▙  ▀█████   █████▀ ▄██████▄ ▀████▌████▙         ████▙   ▀█████▀    ▀█████▀     ▀████▐███▋▀█████▀ ▀█████▀ TM
                        ▄██▀            ▕█████▏   ████▌ ████▌  ▐████▌  ████▌ ████▎▐███▊ ████▌ ████▌        █████▏   █████      █████       ████ ▝██▋ ▝████   ▐███▘
                      ▄█▀               ▐▐████▎   ████▌ ████▌   █████ ▌████▌▐███▊  ████▏████▌ ████▌       ▐▐████▎   █████      █████       ████   ▝▋  ▝███▙ ▗███▘
      ▄████▄▄▄▄▄▄▄▄▄ █▀▄▄▄▄▄▄▄▄▄▄▄      █▌████▋   ████▌▗████▘   ▌█████▌████▌████▊  ████▌████▌▗████▘       █▌████▋   █████      █████       ████ ▗█▌    ▝███▙▝█▘
                  ▄█████▄▄▄▄  ▀▀▀      ▐█▌▐████   ████▌████▘    ▌█████▌████▌████▊  ████▌████▌████▘       ▐█▌▐████   █████      █████       ████▐██▌     ▐████▌
  ▄          ▄████████████████▄        ██ ▄████▎  ████▌▝███▙    █▐████ ████▌████▊  ████▌████▌▝███▙       ██ ▄████▎  █████      █████       ████ ▝█▌     ▐████▌
  ██        ▀████████████████████▄    ▐█▌██████▌  ████▌ ████▌  ▕█ ███▌ ████▌▐███▊  ████ ████▌ ████▌     ▐█▌██████▌  █████    ▗▋█████    ▗▋ ████   ▗▋    ▐████▌
  ▀███     ▄██████████████████████    ███  ▐████  ████▌ ████▌▗▋▐█ ▐██  ████▌ ████▎▐███▊ ████▌ ████▌▗▋   ███  ▐████  █████  ▗██▌█████  ▗██▌ ████ ▗██▌    ▐████▌
   ████▄▄███████████████████████▀    ▄███▄ ▄████▌▄█████▄▀████▀▄██▄ █▌ ▄█████▄ ▀██████▀ ▄█████▄▀████▀   ▄███▄ ▄████▌▄█████▐████▌█████▌████▌▄████▐███▌   ▄██████▄
  ████████▀▀▀▀▀▀▀▀████▀█▀▀▀▀█▀
   ██▀              ██▘▘ ██▘▘

  ---------------------------------------------
  A R M O R  A L L E Y  ::  R E M A S T E R E D
  --------- 10th Anniversary Edition ----------

  A browser-based interpretation of the Macintosh + MS-DOS releases of Armor Alley.

  Game, overview, tutorials etc.
  https://armor-alley.net/

  Quick video overview (3m 45s)
  https://youtu.be/oYUCUvg02rY

  Source code:
  https://github.com/scottschiller/ArmorAlley/

  Original development and history (2013)
  https://www.schillmania.com/content/entries/2013/armor-alley-web-prototype/

  Original game Copyright (C) 1989 - 1991, Information Access Technologies.
  https://en.wikipedia.org/wiki/Armor_alley

  Images, text and other portions of the original game used with permission under an ISC license.
  Original sound effects could not be re-licensed; modern replacements used from freesound.org.

  New game provided under the Attribution-NonCommercial 3.0 Unported (CC BY-NC 3.0) License:
  https://creativecommons.org/licenses/by-nc/3.0/

  General disclaimer: This is a fun personal side project. The code could be tightened up a bit.

  This release:     V2.01.20230520
  Previous release: V2.0.20230501
  Original release: V1.0.20131031

  For revision history, see README.md and CHANGELOG.txt.

*/
:root {
  /* a bit of fun: calc() + var() for animations + transitions, for dynamic game speed. */
  --game-speed: 1;
  --gs-frac: calc(1 / var(--game-speed));
  --prefs-font-scale: 1.1;
  /* TODO: coordinate with view.js */
  --menu-scale: 2.75;
  --menu-chicago-scale: 2.75;
  --game-scale-transform: 1;
  /* "transform + zoom" (combined value, regardless of method applied) */
  --gs: var(--game-scale-transform);
  /* radar scale, multiplier for tz */
  --radar-scale: 1;
  --rs: calc(var(--gs) * var(--radar-scale));
}

@font-face {
  font-display: swap;
  /* https://fontsarena.com/sysfont-by-alina-sava/ (SIL Open Font License 1.1) */
  font-family: FA Sysfont C;
  font-style: normal;
  font-weight: 400;
  src: url(../font/sysfont/sysfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Cheddar Gothic Stencil';
  src: url('../font/CheddarGothicStencil/CheddarGothicStencil-subset.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body:not(.loaded) * {
  /**
   * Evil trade-off.
   * Initially hide, to prevent CLS in terms of performance. https://web.dev/articles/cls
   */
  display: none;
}

body,
html {
  /* scroll aversion */
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body,
input {
  /* Classic Mac OS-style "chicago" by default, with an array of safe fallbacks. */
  font-family:
    FA Sysfont C,
    JetBrains Mono,
    Menlo,
    Monaco,
    SF Mono,
    Lucida Console,
    Terminal,
    monospace;
}

body {
  /* who knows, for IE */
  -ms-interpolation-mode: nearest-neighbor;
  /* font trickery */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  /**
   * avoid smooth image resizing, keep things pixelated - like the original.
   * Firefox does a great job here; Safari is OK (though not pixel-sharp.)
   * Chrome + Safari may be worse when using -webkit-optimize-contrast vs. default.
   * https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering
   */
  image-rendering: optimizeQuality;
  /* deprecated. */
  image-rendering: -webkit-optimize-contrast;
  /* non-standard, but quite nice under Firefox */
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

body:not(.prefs-modal-open) {
  cursor: url(../image/cursor-cross.png), auto;
}

body.demo:not(.prefs-modal-open) {
  cursor: url(../image/cursor-cross-grey.png), crosshair;
}

body.is_safari:not(.is-mobile) {
  /**
   * Safari seems to rasterize before transform()-based scaling of text and images,
   * so things are soft and blurry. So be it; optimize image quality, vs. pixelated.
   */
  image-rendering: optimizeQuality;
}

#aa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#radar,
#world,
.sprite {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/contain */
  contain: strict;
}

#battlefield > .sprite,
#radar > .sprite {
  /* hide all first-level sprites (but not sub-sprites) until first transform / position is set, prevent flicker at 0px/0px. */
  transform: translate(-100%, -100%);
}

#bnb-vs,
#mtv-bnb-in {
  opacity: 0;
}

#bnb-now-playing {
  display: none;
}

#battlefield,
body.game-started #mobile-controls,
body.game-started #player-status-bar {
  transition: 1s ease-in-out;
  transition-property: filter, opacity, transform;
}

body.is_safari #game-menu select:active,
body.is_safari #game-menu select:focus {
  /* evil, I know. */
  outline: 0;
}

.generic-cta {
  border-radius: 2px;
}

#exit {
  display: none;
}

#exit.visible {
  display: inline;
}

#world-wrapper {
  /* mac style - and hide until game start */
  border-bottom: 2px solid #875400;
  font-size: 11px;
  height: 384px;
  left: 0;
  position: absolute;
  top: 0;
  /* for initial game fade */
  transition: filter 0.5s ease-in;
  width: 100%;
}

body:not(.is-mobile) .mobile-only {
  display: none;
}

body.edit-mode #world-wrapper,
body.game-started #world-wrapper {
  transition:
    border 0.25s ease-in-out,
    filter 0.5s ease-in;
  border-bottom-color: #875400;
}

#game-status-bar {
  border-bottom: calc(1px * var(--gs)) solid #17a007;
  padding-top: calc(1px * var(--gs));
  background: linear-gradient(#002700, #0e360e, #153c15);
}

#radar,
#radar-container {
  height: calc(32px * var(--gs));
}

#radar-container {
  position: relative;
}

#radar {
  filter: none;
  overflow: hidden;
  transition:
    filter 0.75s ease-in-out,
    opacity 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden; /* initially hide, to prevent visible opacity flash */
}

body.loaded #radar {
  opacity: 1;
  visibility: visible;
}

#radar {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

body.radar_enhanced_fx #world-noise-overlay {
  /* Probably $$$ - only apply when active. */
  mix-blend-mode: soft-light;
}

body.game-started #world-noise-overlay .noise,
body.radar_enhanced_fx #world-noise-overlay .noise {
  background: url(../image/noise-tv.webp) 0 0/128px 128px;
  bottom: 0;
  image-rendering: optimizeSpeed;
  left: -500px;
  opacity: 0;
  /**
   * "TV Static Noise Effect" - Ana Travas
   * https://codepen.io/anatravas/pen/vyOwOZ
   */
  position: absolute;
  right: 0;
  top: 0;
}

/* game screen overlay */
body.radar_enhanced_fx #world-noise-overlay .noise {
  /* "enhanced" version - also composited with a blend-mode filter. */
  background-color: rgba(0, 0, 0, 0.25);
  animation: 1s steps(15) infinite both noise;
  opacity: 1;
}

#world-noise-overlay {
  position: absolute;
  /* radar offset */
  top: 8%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
}

/* special case: home screen, game menu. */
body.radar_enhanced_fx #world-noise-overlay {
  opacity: 0.65;
  mix-blend-mode: soft-light;
}

body.radar_enhanced_fx.edit-mode #world-noise-overlay,
body.radar_enhanced_fx.game-started #world-noise-overlay {
  transition: opacity 0.75s ease-in-out;
  opacity: 0;
}

#tv-display {
  display: none;
}

#home-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* hide, for now. */
  opacity: 0;
}

#battlefield-overlay-left,
#battlefield-overlay-right {
  position: absolute;
  /* sit underneath fuel bar */
  top: 11%;
  bottom: 5.5%;
  width: 2%;
  z-index: 10;
  /* a rare occurrence - for iOS Safari so these render correctly on top. */
  transform: scale3d(1, 1, 1);
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

body.game-started #battlefield-overlay-left,
body.game-started #battlefield-overlay-right {
  opacity: 1;
}

/* don't show these on realy small portrait displays. */
@media screen and (min-width: 640px) {
  #battlefield-canvas {
    /* hackish: offset because gradient overlay doesn't always seem to line up perfectly. */
    width: 99.5% !important;
  }

  body.game-started #battlefield-overlay-left {
    left: -1px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
  }

  body.game-started #battlefield-overlay-right {
    right: -1px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
  }
}

body.demo #world-noise-overlay {
  /* smoother transition, maybe? */
  will-change: opacity;
}

#aa li,
#aa ul,
#game-menu li,
#game-menu ul {
  margin: 0;
  padding: 0;
}

#aa ul,
#game-menu ul {
  list-style-type: none;
}

#top-bar {
  height: calc(88px * var(--gs));
  contain: strict;
  z-index: 1;
  opacity: 0;
}

body.loaded #top-bar {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

body:not(.edit-mode) #top-bar {
  pointer-events: none;
}

#top-bar,
#world {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

#world {
  height: 100%;
}

#battlefield {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#radar .sprite {
  position: absolute;
  top: 0;
  left: 0;
  background: padding-box #17a007;
  border-color: #ccc;
  border-radius: calc(0.5px * var(--gs)) calc(0.5px * var(--gs)) 0 0;
  contain: strict;
  width: calc(3px * var(--rs));
  height: calc(3px * var(--gs));
  z-index: 2;
}

#radar .sprite.bottom-aligned {
  top: auto;
  bottom: 0;
}

#radar .sprite:not(.balloon) {
  /* a little extra, to avoid rounding errors. */
  padding-bottom: calc(0.5px * var(--rs));
}

/* .friendly? */
#radar .sprite:not(.helicopter) {
  /**
   * Performance observation -
   * `outline: 0.5px solid #000;` causes repaint in Chrome 110 on most radar items when gunfire happens.
   * filter: drop-shadow() seems to kill performance.
   * box-shadow seems to be OK.
   */
  box-shadow: 0 0 0 calc(0.5px * var(--gs)) #000;
}

#radar .sprite.enemy {
  background-color: #ccc;
}

#radar .sprite.cloud1 {
  width: calc(12px * var(--rs));
}

#radar .sprite.cloud2,
#radar .sprite.cloud3 {
  width: calc(14px * var(--rs));
}

#radar .sprite.landing-pad {
  top: auto;
  bottom: 0;
  width: calc(8px * var(--rs));
  height: calc(2px * var(--gs));
  /* green "U"-shape image */
  background-color: transparent;
  background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAFUlEQVR4AWMQX8D+nwE7AMuBCXwYAIdBEWNHOYOnAAAAAElFTkSuQmCC);
  background-position: 50% calc(1px * var(--gs));
  background-size: contain;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  box-shadow: none;
  filter: drop-shadow(0px -1px 1px #000);
  z-index: 0;
}

#radar .sprite.landing-pad.enemy {
  /* #ccc "U"-shape image */
  background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAFUlEQVR4AWM4ePDgfwbsACwHJvBhAO1MIJVMk7QUAAAAAElFTkSuQmCC);
}

#radar .sprite.smart-missile {
  border-radius: 100%;
  bottom: auto;
  height: calc(1.25px * var(--gs));
  border-radius: calc(1.25px * var(--gs));
  left: 0;
  margin-top: calc(0.25px * var(--gs));
  outline: 0;
  position: absolute;
  top: auto;
  width: calc(3px * var(--rs));
  will-change: transform;
}

#radar .sprite.smart-missile.enemy {
  background-color: red;
}

#radar .sprite.helicopter {
  background-color: transparent;
  --border: calc(2.5px * var(--gs));
  border-bottom: var(--border) solid transparent;
  border-left: var(--border) solid #17a007;
  border-top: var(--border) solid transparent;
  /* vertical offset, same as border = roughly half-height. */
  top: calc(var(--border) * 0.9);
  font-size: 0;
  height: 0;
  outline: 0;
  width: 0;
  z-index: 5; /* show above landing pads, etc. */
}

@media screen and (orientation: landscape) and (max-height: 480px) {
  #radar .sprite.helicopter {
    /* larger chopper on small screens in landscape, given the radar is quite small. */
    --border: calc(4px * var(--gs));
  }

  /* give everybody a vertical boost, per se. */
  #radar .sprite:not(.balloon) {
    padding-bottom: calc(1px * var(--rs));
  }

  #radar .sprite.balloon {
    padding-bottom: calc(0.75px * var(--rs));
  }
}

#radar .sprite.helicopter.local-player {
  animation: blink calc(0.5s * var(--gs-frac)) steps(1) infinite;
}

#radar .sprite.missile-launcher {
  /* now invisible, basically a placeholder for the scan node. */
  background-color: transparent;
  box-shadow: none;
  height: calc(2px * var(--gs));
  width: calc(2px * var(--rs));
}

#bottom {
  position: absolute;
  height: calc(18px * var(--gs));
  box-sizing: border-box;
  color: #666;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

#bottom,
#queue .queue-item {
  font-size: calc(7px * var(--gs));
}

#radar .sprite.turret {
  /* now invisible, basically a placeholder for the scan node. */
  background-color: transparent;
  box-shadow: none;
}

/* scan nodes */
#battlefield .sprite.missile-launcher,
#battlefield .sprite.turret,
#radar .sprite.missile-launcher,
#radar .sprite.turret {
  /* allow nested .scan-mode to show */
  contain: unset;
  overflow: visible;
}

#radar .sprite.missile-launcher,
#radar .sprite.turret {
  /* ensure everything sits on top of scan nodes */
  z-index: 2;
}

#battlefield .scan-node,
#radar .scan-node {
  /* visual illustrations of "scanning range" for missile launchers + turrets. */
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate3d(-50%, -100%, 0);
  overflow: hidden;
  /* account for border */
  margin-left: -0.5px;
  box-shadow: inset 0 15px 15px 0 rgba(0, 255, 0, 0.025);
  border: 0.5px solid rgba(0, 255, 0, 0.075);
  /* this will be set and updated via JS */
  border-radius: 100%;
  transition-duration: calc(1s * var(--gs-frac));
  transition-timing-function: ease-in-out;
  transition-property: opacity, box-shadow, border-color, width, height;
  z-index: -2;
  pointer-events: none;
  will-change: transform;
}

#battlefield .scan-node {
  background-color: transparent;
}

#radar .scan-node {
  /* bottom-align? */
  left: 0;
  border-width: calc(0.5px * var(--gs));
  overflow: visible;
  contain: style;
}

#radar .radar-item.missile-launcher .scan-node {
  /* center scan node around missile launcher */
  margin-left: calc(2.5px * var(--rs));
}

#radar .radar-item.turret .scan-node {
  /* likewise, for turrets */
  margin-left: calc(0.5px * var(--rs));
}

/* TODO: fix this repetition / nesting. */
#radar .radar-item.scan-node,
#radar .radar-item.scan-node .scan-node {
  will-change: transform;
  contain: style;
}

#radar .scan-node.enemy .scan-node,
#radar .sprite.enemy .scan-node {
  box-shadow: inset 0 15px 15px 0 rgba(255, 255, 255, 0.025);
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.05);
}

body:not(.game-started) .scan-node {
  /* no transitions while showing level previews */
  transition-duration: 0s !important;
}

#editor-window,
#editor-window-help,
#game-paused,
#help,
#tutorial,
#tutorial-window,
body:not(.game-started) #funds,
body:not(.game-started) #game-tips {
  display: none;
}

#help {
  float: right;
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
  white-space: nowrap;
}

#help.active,
body.network #help {
  display: inline-block;
}

body.network:not(.game-started) #help #game-options-link,
body.network:not(.game-started) #help .pipe {
  display: none;
}

body:not(.game-started) #notification-toasts {
  /* initially, hide. */
  display: none;
}

#game-prefs-modal {
  position: absolute;
  display: none;
}

button {
  background: #fff;
  border: 0.25px solid #000;
  border-radius: 2px;
  color: #000;
  cursor: pointer;
  font-family:
    FA Sysfont C,
    courier,
    sans-serif;
  font-size: 7px;
  font-weight: 400;
  margin: 0 0.25rem 0 0;
  min-width: 1.75rem;
  padding: 0.5px 5px;
  position: relative;
}

button.primary {
  /* original button border, a little bigger */
  border-width: 0.5px;
  /* inner white, followed by outer black borders */
  box-shadow:
    0 0 0 0.5px #fff,
    0 0 0 2px #000;
  /**
   * Most, but not all browsers can do a double-border this way,
   * where the outline follows border-radius styling as well.
   * Guess who the exception is ... :D ... see the next rule.
   */
  outline: 0;
  /**
   * IRONY: Safari doesn't apply border-radius to outlines, but
   * everyone else does; and this is for the 68K classic mac UI.
   * So, we'll use box-shadow shenanigans. :P
   */
  outline-offset: 0.5px;
  /* Safari collapses buttons more than the others. :/ */
  padding: 0.5px 10px;
}

.mac-system-waiting {
  /**
   * Hat tip: https://impossiblue.github.io/log/150406/index.html
   */
  background-image: url(../image/apple-watch.gif);
  background-position: 50% 50%;
  background-size: 11px 16px;
  margin-bottom: -2.75px;
  padding-left: 1px;
  width: 11px;
  padding-right: 1px;
}

.mac-system-spinner,
.mac-system-waiting {
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
}

.mac-system-spinner {
  background-image: url(../image/mac-system-spinner.gif);
  background-size: contain;
  margin-bottom: -1px;
  margin-right: 1px;
  /* Hat tip: https://apple.stackexchange.com/questions/407893/where-are-are-the-counting-hand-cursors-used-in-macos */
  width: 16px;
}

#lock-step-indicator {
  display: none;
}

#game-menu-wrapper button.large,
.generic-cta {
  color: #333;
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  font-size: calc(11px * var(--menu-scale));
  line-height: calc(11px * var(--menu-scale));
  padding: calc(4px * var(--menu-scale)) calc(6px * var(--menu-scale));
  vertical-align: middle;
}

.generic-cta {
  font-size: 8px;
  padding: 2px 8px;
  line-height: 10px;
}

#game-menu-wrapper button.game-start,
.generic-cta {
  border-color: transparent;
  color: #fff;
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.25);
}

#game-menu-wrapper button.large.game-start:hover,
.generic-cta:hover {
  background-color: rgba(0, 255, 0, 0.25);
  color: #fff;
  filter: drop-shadow(
    0 0 calc(1px * var(--menu-scale)) rgba(255, 255, 255, 0.5)
  );
}

#game-menu-wrapper button.large.game-start:active,
.generic-cta:active {
  filter: drop-shadow(
    0 0 calc(0.75px * var(--menu-scale)) rgba(0, 255, 0, 0.75)
  );
}

#game-type-list,
#game-menu select,
#game-menu-wrapper .cta:not(label),
#game-menu-wrapper button.large,
.generic-cta.large,
#game-menu .glow-item-checkbox {
  border: 1px solid transparent;
  transition:
    background-color 250ms,
    border 250ms,
    color 250ms,
    filter 250ms,
    text-shadow 250ms,
    transform 250ms,
    backdrop-filter 250ms;
}

body.is_firefox #game-menu-wrapper.active.fade-out .glow-item {
  /* 02/2024: don't transition `backdrop-filter` during .fade-out, causes elements to disappear in Firefox during menu zoom + fade. */
  transition-property: background-color, border, color, filter, text-shadow,
    transform;
}

/* all the above should be "glow" items. */
#game-menu-wrapper.active:not(.fade-out) .glow-item:hover,
#game-menu-wrapper.active:not(.fade-out) .glow-item-checkbox:hover {
  /* Nifty tricks; "Aero" glass, Windows Vista style. */
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

#game-menu-wrapper button.large:active {
  background-color: (0, 192, 0, 0.25);
  filter: drop-shadow(0 0 1.5px rgba(255, 255, 255, 0.5));
}

#game-menu-wrapper .cta:not(label):active,
#game-menu-wrapper button.large:active,
#game-menu-wrapper .checkbox-wrapper:active,
#game-menu-wrapper input:active,
.generic-cta:active {
  transform: scale3d(0.9, 0.9, 1);
  transform-origin: 50% 50%;
}

#network-pipe,
#network-prompt {
  /* prefs panel option: hide until deemed relevant. */
  display: none;
}

.flying-ace {
  background: url(../image/flying_ace.png) 50% 100% / contain no-repeat;
  height: 40.5px;
  /* obligatory: the Flying Ace, on the doghouse. "Snoopy vs. The Red Baron" - from "It's The Great Pumpkin, Charlie Brown!" */
  width: 25px;
}

#network-status {
  display: none;
}

#lights {
  display: inline-block;
  width: 16px;
  height: 10px;
  image-rendering: pixelated;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  /* sneaky scaling shenanigans */
  zoom: calc(1 * var(--gs));
}

#lights .sub-sprite {
  display: block;
  background: url(../image/lights.exe.png) no-repeat;
  width: calc(64px * var(--gs));
  height: calc(10px * var(--gs));
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  will-change: transform;
}

.debug-rect:hover {
  background: rgba(0, 0, 0, 0.75);
  outline: #fff solid 1px;
  z-index: 10;
}

#message-box {
  position: absolute;
  top: -1px;
  left: 25%;
  display: none;
  width: 50%;
  height: 14px;
  text-align: center;
  z-index: 2;
}

#message-form {
  display: inline-block;
  width: 50%;
}

#message-form-input {
  background: rgba(0, 0, 0, 0.9);
  border: 0.5px solid #393;
  color: #3c3;
  display: block;
  font-size: calc(7px * var(--gs));
  margin: 0;
  padding: calc(2px * var(--gs));
  text-align: center;
  width: 100%;
}

#message-form-input:focus {
  background-color: #060;
  outline: 0;
}

#message-form-input::placeholder {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder */
  color: #090;
}

ul.inline-list,
ul.inline-list li {
  display: inline-block;
}

ul.inline-list li:not(:first-of-type) {
  margin-left: 0.5em;
}

#battlefield video {
  pointer-events: none;
}

.target-dot {
  position: absolute;
  top: 0;
}

/* various cases for disabling scan range UI */
#battle-over-letter,
#letters-from-the-old-tanker,
#battlefield.scan_ui_battlefield_enemy_disabled .placeholder.enemy .scan-node,
#battlefield.scan_ui_battlefield_friendly_disabled
  .placeholder:not(.enemy)
  .scan-node,
#radar.scan_ui_radar_enemy_disabled > .sprite.enemy .scan-node,
#radar.scan_ui_radar_enemy_disabled > .scan-node.enemy,
#radar.scan_ui_radar_friendly_disabled > .sprite:not(.enemy) .scan-node,
#radar.scan_ui_radar_friendly_disabled > .scan-node:not(.enemy) {
  display: none;
}

.landscape-space-portrait-line-break {
  /* hackish: override regular announcement span rules */
  width: 0.25em !important;
  display: inline-block !important;
}

@media screen and (orientation: portrait) {
  .landscape-space-portrait-line-break {
    display: block !important;
    font-size: 0px !important;
    width: 0 !important;
  }
}

span.no-emoji-substitution {
  /* discourage browsers from substituting emoji / ASCII characters, and vice-versa. */
  display: inline;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  border-left: none;
  border-right: none;
}

canvas {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

#battlefield-canvas,
#fx-canvas {
  /* offset for radar */
  top: 8%;
  left: 0;
  width: 100%;
  /* stretch down to bottom bar */
  height: 85.75%;
}

#radar-canvas {
  /* full width and height. */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* full opacity to start, for level previews. */
  opacity: 1;
  transition: none;
}

body.loaded canvas {
  transition: opacity 0.75s ease-in-out;
}

body.game-started canvas,
body.edit-mode canvas {
  opacity: 1;
}

body.is-mobile .hide-on-mobile,
body.is_iphone .hide-on-iphone {
  display: none;
}

@keyframes noise {
  0% {
    background-position: 0 0;
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(500px, 0, 0);
  }
}
