*.DS_Store
.com.apple.timemachine.supported
*.sh
*?old.*
*test.*
build/build.*
homepage
misc
build.js
node_modules
npm-shrinkwrap.json
package-lock.json
script/*bundle.js
script/*_min.js
css/*_min.css
*copy*
bnb
bun.lockb
