*.DS_Store
.com.apple.timemachine.supported
*.sh
*?old.*
*test.*
dist/manifest.json
dist/css/
dist/html/
dist/js/
dist/audio/
dist/font/
dist/image/
dist/spritesheet/
dist/video/
dist/video/bnb/
floppy-version
homepage
misc
build.js
node_modules
npm-shrinkwrap.json
package-lock.json
script/*bundle.js
src/css/*.js
assets/video
*copy*
assets/audio/bnb
assets/audio/*/bnb
assets/video/bnb
bun.lockb
