/**
 * "Virtual Stupidity" CSS
 */
.tv-screen-container {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  aspect-ratio: 16/9;
  transform: translate3d(-50%, -50%, 0);
}

#tv-display {
  display: none;
  top: 50%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  /* center, and slightly smaller */
  --scale: calc(var(--gs) / 2);
  /* don't pull up a full half-height, leave room for announcement text etc. */
  transform: translate3d(-50%, -40%, 0) scale3d(var(--scale), var(--scale), 1);
  transition: 0.25s ease-in;
  transition-property: transform, opacity, filter, position;
  width: 409px;
  height: 320px;
}

#mtv-bnb-in {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 46%;
  top: -27%;
  left: -4.5%;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s ease-in;
  z-index: 10;
}

body.bnb #mtv-bnb-in {
  opacity: 0.9;
}

#bnb-vs {
  /* https://www.steamgriddb.com/game/5248723 */
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -1px;
  filter: drop-shadow(0 1px 0.5px rgba(0, 0, 0, 0.5));
  height: 98%;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in;
  width: 100%;
}

body.bnb #bnb-vs,
body.bnb-preload #bnb-vs {
  background-image: url(../../assets/image/virtual_stupidity_steamgriddb.webp);
}

body.bnb #bnb-vs {
  opacity: 1;
}

body.bnb #mtv-bnb-in,
body.bnb-preload #mtv-bnb-in {
  background-image: url(../../assets/image/virtual_stupidity_overlay.webp);
}

#bnb-vs,
#mtv-bnb-in {
  image-rendering: optimizeQuality;
  image-rendering: -webkit-optimize-contrast;
}

body.is_safari #bnb-vs,
body.is_safari #mtv-bnb-in {
  /* Safari does better with this here, ironically, vs. optimize-contrast */
  image-rendering: optimizeQuality;
}

body.bnb #tv-display {
  display: block;
}

body.bnb #tv-display.active {
  opacity: 1;
}

body.bnb #tv-display.disabled {
  opacity: 0 !important;
}

#tv-display #tv {
  /* https://pngtree.com/freepng/color-tube-television-screen-to-gold_7430214.html */
  background-size: contain;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 409px;
  filter: drop-shadow(0 0 48px rgba(255, 255, 212, 0.33));
}

body.bnb #tv-display #tv,
body.bnb-preload #tv-display #tv {
  background-image: url(../../assets/image/pngtree.com_color_tv.webp);
}

body.bnb #tv-display.widescreen #tv {
  background: url(../../assets/image/pngtree.com_color_tv_widescreen.webp) 0
    21.5px / contain no-repeat;
}

#tv-display video {
  height: 212px;
  left: 60px;
  position: absolute;
  top: 34px;
  width: 288px;
}

#tv-display.widescreen video {
  height: 214px;
  left: 59.5px;
  top: 33px;
  width: 290px;
}

body.bnb:not(.is-mobile) #aa ul.stats-bar li.inventory-item:first-of-type {
  /* centering shenanigans */
  margin-left: calc(16px * var(--gs));
}

body.bnb .engineer:not(.enemy).beavis,
body.bnb .engineer:not(.enemy).butthead {
  height: 30.66px;
}

body.bnb .engineer:not(.enemy).beavis.stopped,
body.bnb .engineer:not(.enemy).butthead.stopped {
  height: 32px;
  /* correction for positioning */
  margin-top: -1.5px;
  /* "whilst headbanging" */
  width: 18.25px;
}

.cornholio {
  /* I am the great Cornholio! */
  height: 33.6px;
  /* hide until visible */
  margin-top: 33.6px;
  transition: margin-top 1s ease-in-out;
  width: 12px;
  /* show in front of bunkers */
  z-index: 1;
}

body.bnb .cornholio {
  display: block;
}

body.bnb .cornholio.visible {
  margin-top: 0;
}

#bnb-now-playing {
  height: 72%;
  /* cheap vertical alignment */
  left: 0;
  margin-left: calc(-1px * var(--gs));
  /* note: nested opacity, individual images fade. */
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
}

body:not(.is-mobile) #bnb-now-playing {
  height: calc(20px * var(--gs));
  left: 0;
  /* ugly hacks, I broke something while making changes for mobile. */
  top: calc(-13px * var(--gs));
}

body.bnb #bnb-now-playing {
  display: block;
}

#bnb-now-playing .pow {
  height: 100%;
  image-rendering: auto;
  image-rendering: optimizeQuality;
  image-rendering: -webkit-optimize-contrast;
  left: 0;
  opacity: 0;
  /* cartoon "pow" outline */
  position: absolute;
  top: 0;
  transform: scale3d(1.2, 1.2, 0);
  transition: calc(0.5s * var(--gs-frac)) ease-in-out;
  transition-property: transform, opacity;
  width: 100%;
}

body.is_safari #bnb-now-playing .pow {
  image-rendering: optimizeQuality;
}

#bnb-now-playing .beavis {
  background: url(../../assets/image/pow-beavis.webp) 50% 50% / contain
    no-repeat;
}

#bnb-now-playing .butthead {
  background: url(../../assets/image/pow-butthead.webp) 50% 50% / contain
    no-repeat;
}

#bnb-now-playing.beavis .beavis,
#bnb-now-playing.butthead .butthead {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
