/**
 * Tutorial + Editor bits
 */
.finder {
  border: 0.5px solid #000;
  filter: invert(1);
  left: 20px;
  position: absolute;
  top: 17%;
  transform: scale(2.16);
  transform-origin: 0 0;
}

#editor-window-help {
  display: none;
  left: 312px;
  top: 17%;
}

/* safari desktop: zoom hacks */
body.is_safari:not(.is-mobile).edit-mode #editor-window,
body.is_safari:not(.is-mobile).edit-mode #editor-window-help {
  zoom: 2;
  /* note: half of "usual" value */
  transform: scale3d(1.13, 1.13, 1);
  transform-origin: 0 0;
}

body.is_safari:not(.is-mobile).edit-mode #editor-window-help {
  /* safari scale shenanigans: roughly half */
  left: 160px;
}

body.is_safari:not(.is-mobile).edit-mode #editor-window {
  left: 10px;
}

body.edit-mode .sprite .zone-flag {
  border-radius: 2px;
  left: 1px;
  top: 1px;
}

.finder .title-bar {
  background: #f3f3f3;
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  height: 7px;
  position: relative;
  text-align: center;
}

.finder .title-bar-label {
  background: #f3f3f3;
  color: #000;
  display: inline-block;
  font-family:
    FA Sysfont C,
    courier,
    sans-serif;
  font-size: 6.5px;
  font-weight: 400;
  left: 50%;
  line-height: 123%;
  margin-top: -0.5px;
  padding: 0 3px;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translate(-50%, 0);
  white-space: nowrap;
}

.finder .title-bar-stripes {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAECAAAAAAl7gk2AAAAE0lEQVR42mPcz0AAMDpQQQVBWwCpNAIDi0boDwAAAABJRU5ErkJggg==)
    0 0/8.25px 1.33px;
  border-color: #f3f3f3;
  border-style: solid;
  border-width: 0.5px 0.25px;
  box-sizing: border-box;
  height: 100%;
  image-rendering: optimizeQuality;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.finder .title-bar-label,
.finder .title-bar-stripes {
  pointer-events: none;
}

.finder.active {
  outline: #666 solid 0.5px;
}

.finder .body {
  background: hsla(0, 0%, 95%, 0.75);
  border-top: 0.5px solid #000;
  color: #000;
  font-family: Geneva, verdana, arial, sans-serif;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 23em;
}

.finder .body,
.finder .body ul.row li {
  /* tutorial window */
  font-size: 5px;
}

.finder .body .grid p {
  margin-bottom: 0.75em;
}

.finder .body ul.row {
  display: block;
  font-size: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.finder .body ul.row li {
  border: 0.25px solid #999;
  box-sizing: border-box;
  display: inline-block;
  padding: 1px;
  text-align: center;
  width: 20%;
}

.finder .body ul.row + ul.row li {
  border-top: none;
}

.finder .body ul.row li:not(:last-of-type) {
  border-right: none;
}

#tutorial-window {
  display: none;
  left: 50%;
  top: 50%;
  /* scale up a bit for almost everyone. */
  transform: scale3d(1.25, 1.25, 1) translate3d(-50%, -50%, 0);
  /* don't interfere with touch / click etc. */
  pointer-events: none;
}

/* not iPhone, though - on portrait, scaling up will overlap controls. */
body.is_iphone #tutorial-window {
  transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
}

#tutorial-window.finder .body {
  /* lighten background, since helicopter underneath for now. */
  /* note that colors are inverted for this window, heh. */
  background: rgba(255, 255, 255, 0.15);
}

#tutorial-window.finder .title-bar-stripes {
  background-size: 16.5px 3px;
}

#tutorial-window.finder .title-bar {
  height: calc(7px * var(--gs));
  border-width: calc(1px * var(--gs)) 0;
}

#tutorial-window.finder h3 {
  font-size: calc(7px * var(--gs));
}

#tutorial-window.finder .title-bar-label {
  font-size: calc(6.5px * var(--gs));
  margin-top: calc(-0.5px * var(--gs));
  padding: 0 calc(3px * var(--gs));
}

#tutorial-window.finder .body {
  font-size: calc(5px * var(--gs));
}

#tutorial-window.finder .body img {
  /* images are safe to scale via zoom - in Safari, at least. */
  zoom: var(--gs);
}

body.tutorial-mode #tutorial-window {
  display: block;
  opacity: 0;
  transition: opacity 1s ease-in;
}

body.tutorial-mode #tutorial-window.active {
  opacity: 1;
}

body.game-paused #tutorial-window {
  display: none !important;
}

#tutorial-window .title-bar {
  image-rendering: smooth;
  image-rendering: -webkit-optimize-contrast;
}

#tutorial-window .body {
  min-width: 25em;
}

#tutorial-window .body img {
  filter: invert(1);
  vertical-align: middle;
}

#tutorial-window .body h3 img {
  vertical-align: top;
}

#tutorial-window .body p {
  line-height: 1.33em;
  margin-left: 0;
  margin-right: 0;
}

#tutorial-window .body p:not(:last-of-type) {
  margin-bottom: 0.55em;
}

#tutorial-window .body .mobile-touch-example {
  display: inline-block;
  padding: calc(0.5px * var(--gs));
  box-sizing: content-box;
  border-radius: 100%;
  border: calc(0.5px * var(--gs)) solid #666;
  vertical-align: text-top;
  line-height: calc(4.74px * var(--gs));
  --size: calc(5px * var(--gs));
  width: var(--size);
  height: var(--size);
  text-align: center;
}

/* special case: smaller headers in tutorial, because there are two. */
body.tutorial-mode #battle-over-letter .letter-content h1 {
  font-size: calc(13px * var(--gs));
}

body.tutorial-mode #battle-over-letter .letter-content h1 ~ h1 {
  /* secondary header */
  font-size: calc(12px * var(--gs));
}

body.tutorial-mode #game-tips .tips-container {
  color: #999;
}

body.tutorial-mode #game-tips .tips-container b {
  color: #fff;
}

/* ignore events on sub/transform sprites, and explosions */
body.edit-mode
  #battlefield
  .sprite:not(.sub-sprite):not(.transform-sprite):not(.ephemeral-explosion):not(
    .gunfire
  ):not(.helicopter):not(.smoke) {
  pointer-events: unset;
}

/* ignore events on certain "non-moveable" sprites */
body.edit-mode
  #battlefield
  .sprite:not(.end-bunker):not(.base):not(.exploding):hover {
  border-radius: 3px;
  outline: #999 solid 1px;
}

body.edit-mode #battlefield .sprite.selected:not(.exploding) {
  border-radius: 3px;
  /* override :not(), ugh. */
  outline: #090 solid 1px !important;
}

body.edit-mode #battlefield .sprite.newly-added-sprite,
body.edit-mode #battlefield .terrain-item {
  transition: margin 0.25s ease-out;
}

body.edit-mode #battlefield .sprite.newly-added-sprite.tank,
body.edit-mode #battlefield .sprite.tank {
  /* annoying pixel shift */
  margin-top: -2px;
}

body.edit-mode #battlefield .sprite.newly-added-sprite {
  margin-top: 0;
}

body.edit-mode #battlefield .terrain-item {
  margin-bottom: 0;
}

body.edit-mode #battlefield .terrain-item.submerged {
  margin-bottom: -27px;
}

body.edit-mode #battlefield {
  cursor: grab;
}

#battlefield #cutoff-line {
  border-top: 0.75px dotted #666;
  bottom: 0;
  height: 0;
  left: 0;
  margin-bottom: -1px;
  pointer-events: none;
  position: absolute;
  transition:
    height 0.25s ease-in-out,
    margin 0.25s ease-in-out;
  width: 100%;
}

#battlefield #cutoff-line.active {
  height: 32px;
  margin-bottom: 0;
  pointer-events: auto;
}

#editor-window {
  display: none;
}

#editor-window .grid {
  position: relative;
}

#editor-window ul.inline-list {
  margin: 0;
  padding: 0 0 1em;
}

#editor-window ul.inline-list li {
  display: inline-block;
  margin-bottom: 0;
  min-width: 11em;
}

ul.inline-list li:not(:first-of-type) {
  margin-left: 0;
}

#editor-window .static-sprite {
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

#editor-window .static-sprite.default {
  background-image: url(../../assets/image/UI/icon_savegame.png);
  height: 16px;
  width: 16px;
}

#editor-window .static-sprite.barb-wire {
  background-image: url(../../assets/image/barb-wire.png);
}

#editor-window .static-sprite.balloon {
  /* TODO: balloon-static.png? */
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAAiBAMAAAAHRyIyAAAAD1BMVEUAAAAAAADa2tqzh1SHVAC3ExoMAAAAAXRSTlMAQObYZgAAAKVJREFUeF6t1OEJxCAMQGGzQd4KrpAV3H+mM1BziJjLQd8/5SOUorZ3E9BtGW37ANsy2vd7R2MS2Dc8DQYx6WQsZubjZCOb1cWY/M54mCFg19DFSBnBLAutMZz9UmOUmRMyM5XRpMYapMxVLzOh39mIb6PG8h/iavYPu7jxGDOKTBsOAE7hxUFyhqRMz0MeYByH3LncmTozK11As/w6lx6H+lPzfh8GtaYB2nfp/AAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-size: contain;
  height: 8.5px;
  width: 19px;
}

#editor-window .static-sprite.cactus {
  background-image: url(../../assets/image/cactus.png);
}

#editor-window .static-sprite.cactus2 {
  background-image: url(../../assets/image/cactus2.png);
}

#editor-window .static-sprite.cloud {
  background-image: url(../../assets/image/cloud-1.png);
  height: 10px;
  width: 34px;
}

#editor-window .static-sprite.gravestone {
  background-image: url(../../assets/image/gravestone.png);
}

#editor-window .static-sprite.gravestone2 {
  background-image: url(../../assets/image/gravestone2.png);
}

#editor-window .static-sprite.grave-cross {
  background-image: url(../../assets/image/grave-cross.png);
}

#editor-window .static-sprite.landing-pad {
  /* TODO: landing-pad-static.png? */
  background: url(../../assets/image/UI/landing-pad-animated.gif) 0 0 / contain;
  height: 3.5px;
  width: 40.5px;
}

#editor-window .static-sprite.turret {
  background: url(../../assets/image/UI/turret-static.gif) 50% 0 / contain
    no-repeat;
  height: 10px;
  width: 12px;
}

#editor-window .static-sprite.engineer {
  background-image: url(../../assets/image/UI/engineer-static.png);
}

#editor-window .static-sprite.bunker {
  background-image: url(../../assets/image/bunker_mac.png);
}

#editor-window .static-sprite.super-bunker {
  background-image: url(../../assets/image/super-bunker_mac.png);
}

#active-sprite {
  bottom: 0;
  filter: invert(1);
  height: 12px;
  position: absolute;
  right: 0;
  width: 32px;
}

#editor-clipboard {
  display: none;
}

#editor-clipboard.active {
  display: inline-block;
}

#marquee {
  /* TODO: GPU */
  background: rgba(33, 99, 33, 0.25);
  border: 1px solid #393;
  height: 0;
  left: 0;
  opacity: 0;
  /* important: events need to fall through this, so JS sees clicks underneath. */
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 125ms ease-out;
  width: 0;
}

body.edit-mode #top-bar {
  /* crop the top, reserving radar for click-and-drag / scrubbing */
  height: calc(42px * var(--gs));
}

/**
 * Sprites for editor UI
 */
.sand-dune {
  height: 8px;
  width: 51px;
}

#editor-window .sand-dune {
  background-image: url(../../assets/image/sand-dune.png);
}

.sand-dunes {
  height: 11px;
  width: 73px;
}

#editor-window .sand-dunes {
  background-image: url(../../assets/image/sand-dunes.png);
}

.checkmark-grass {
  height: 10px;
  width: 15px;
}

#editor-window .checkmark-grass {
  background-image: url(../../assets/image/checkmark-grass.png);
}

.flower {
  height: 8px;
  width: 11px;
}

#editor-window .flower {
  background-image: url(../../assets/image/flower.png);
}

.flowers {
  height: 11px;
  width: 34px;
}

#editor-window .flowers {
  background-image: url(../../assets/image/flowers.png);
}

.flower-bush {
  height: 13px;
  width: 18px;
}

#editor-window .flower-bush {
  background-image: url(../../assets/image/flower-bush.png);
}

.tree {
  height: 27px;
  width: 26px;
}

#editor-window .tree {
  background-image: url(../../assets/image/tree.png);
}

.tumbleweed {
  height: 15px;
  width: 18px;
}

#editor-window .tumbleweed {
  background-image: url(../../assets/image/tumbleweed.png);
}

.palm-tree {
  height: 22px;
  width: 18px;
}

#editor-window .palm-tree {
  background-image: url(../../assets/image/palm-tree.png);
}

.rock {
  height: 13px;
  width: 18px;
}

#editor-window .rock {
  background-image: url(../../assets/image/rock.png);
}

.rock2 {
  height: 11px;
  width: 13px;
}

#editor-window .rock2 {
  background-image: url(../../assets/image/rock2.png);
}

.grass {
  height: 9px;
  width: 40px;
}

#editor-window .grass {
  background-image: url(../../assets/image/grass.png);
}

.gravestone {
  height: 12px;
  width: 20px;
}

.gravestone2 {
  height: 12px;
  width: 15px;
}

.grave-cross {
  height: 10px;
  width: 13px;
}

.left-arrow-sign,
.right-arrow-sign {
  width: 28px;
  height: 25px;
}

.terrain-item {
  bottom: auto;
  top: 0;
}

.barb-wire {
  height: 11px;
  width: 18px;
}

.barb-wire,
.cactus {
  background-size: contain;
}

.cactus {
  height: 17px;
  width: 12px;
}

.cactus2 {
  background-size: contain;
  height: 25px;
  width: 18px;
}

/* classic game sprites, DOM node edition */
.balloon {
  height: 16px;
  width: 38px;
}

.missile-launcher {
  height: 18px;
  width: 54px;
}

.tank {
  height: 19px;
  width: 58px;
}

.van {
  height: 16px;
  width: 38px;
}

.engineer,
.infantry {
  height: 11px;
  width: 11px;
}

.engineer {
  /* slightly smaller than infantry. */
  width: 10px;
}

.cloud1,
.cloud2,
.cloud3 {
  left: 0;
  top: 0;
}

.cloud1 {
  height: 29px;
  width: 102px;
}

.cloud2 {
  height: 28px;
  width: 116px;
}

.cloud3 {
  height: 34px;
  width: 125px;
}

.base {
  height: 26px;
  /* +1 pixel, sprite clipping workaround */
  width: 104px;
}

.end-bunker {
  height: 19px;
  width: 41px;
}

.super-bunker {
  height: 28px;
  width: 66px;
}

.bunker,
.bunker.enemy {
  height: 25.5px;
  width: 52px;
}

.turret,
.turret .sub-sprite {
  height: 15px;
  width: 22px;
}

.turret .sub-sprite {
  height: 31px !important;
  top: -5px;
}

.landing-pad {
  height: 7px;
  width: 81px;
}
